<link rel="stylesheet" href="/css/jquery-ui-1.11.4.css">
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery-ui-1.11.4.js"></script>
<div id="ribbon">
  <ol class="breadcrumb">
    <li><%= t(:data_master) %></li><li><%= t(:rack_display) %></li><li><%= t(:list) %></li>
  </ol>
</div>
<div id="content">
  <section id="widget-grid" class="">
    <div id="notice_template"><%= render 'layouts/notice' %></div>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
          <header id="header-product" role="heading">
          <h2><span class="widget-icon"> <i class="fa fa-list-ul"></i> </span> <%= t(:rack_display_list) %></h2></header>
          <div>
            <div class="widget-body no-padding"><br>
              <section class="col col-md-6">
                <%= link_to raw("<span class='btn-label'><i class='glyphicon glyphicon-plus'></i></span>#{t(:add_rack_display)}"), new_plano_url, class: "btn btn-labeled btn-primary edit-btn-primary", style:'margin: 0px 0 6px 6px;' %>
                <ul id="myTab1" class="nav nav-tabs" style='margin: 0px 0 6px 6px; float: left'>
                  <li class="dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i></button>
                    <ul class="dropdown-menu">
                      <li><%= link_to t(:export_to_csv), planos_path(:id => params[:id], format: "csv"), id: "export_to_csv3" %></li>
                      <li><%= link_to t(:export_to_excel), planos_path(:id => params[:id], format: "xlsx"), id: "export_to_xls3" %></li>
                      <li><%= link_to t(:generate_auto_pkm), generate_auto_pkm_planos_path %></li>
                      <li data-toggle="modal" data-target="#myModal" style='cursor: pointer'><a>Import from CSV</a></li>
                    </ul>
                  </li>
                </ul>
              </section>
              <section class="col col-md-6">
                <section class="col col-md-12">
                  <section class="form-group">
                    <label class="col-md-2">Store : </label>
                    <label class="col-md-10 input custom-input-box">
                      <% if current_user.branch_id.present? %>
                        <%= label_tag 'location', current_user.branch.office_name %>
                      <% else %>
                        <%= select_tag :store, options_for_select([["All Store", 0]] + Branch.all.map{|reg|[reg.office_name, reg.id]}), {class:"form-control", onchange: "reload({});", onkeyup: "reload({});"}%>
                      <% end %>
                    </label>
                  </section>
                </section>
              </section>
            </div>
            <table class="table table-striped table-bordered" width="100%">
              <thead>
                <tr>
                  <th><%= t(:no) %></th>
                  <th>
                    <%= t(:article) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'article-desc', name: 'products.article', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'article-asc', name: 'products.article', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:product_name) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'product_name-desc', name: 'products.description', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'product_name-asc', name: 'products.description', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:period) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'period-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'period-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:rak) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'rak_name-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'rak_name-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:rak_type) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'rak_type-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'rak_type-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    Baris
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'rows-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'rows-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:shelving) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'shelving-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'shelving-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:kiri_kanan) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'kir_ka-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'kir_ka-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:atas_bawah) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'at_ba-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'at_ba-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:depan_belakang) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'de_be-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'de_be-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:leadtime) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'de_be-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'de_be-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    N+
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'de_be-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'de_be-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:min_display) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'min-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'min-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:safety_stock) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'min-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'min-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:minor) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'min-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'min-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:max_stock) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'min-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'min-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th><%= t(:action) %></th>
                  </tr>
                  <tr>
                    <th></th>
                    <th class="hasinput"><%= text_field_tag :product_article, params[:product_article], class: 'form-control search', onchange: "reload({})", name: "products.article" %></th>
                    <th class="hasinput"><%= text_field_tag :product_name, params[:product_name], class: 'form-control search', onchange: "reload({})", name: "products.description" %></th>
                    <th class="hasinput"><%= text_field_tag :period, params[:period], class: 'form-control search', onchange: "reload({})", name: "concat(planos.start, ' - ', planos.end)" %></th>
                    <th class="hasinput"><%= text_field_tag :rak_name, params[:rak_name], class: 'form-control search', onchange: "reload({})", name: "planograms.rack_number" %></th>
                    <th class="hasinput"><%= text_field_tag :rak_type, params[:rak_type], class: 'form-control search', onchange: "reload({})", name: "planograms.rack_type" %></th>
                    <th class="hasinput"><%= text_field_tag :rows, params[:rows], class: 'form-control search', onchange: "reload({})", name: "to_char(rows, '999999999')" %></th>
                    <th class="hasinput"><%= text_field_tag :shelving, params[:shelving], class: 'form-control search', onchange: "reload({})", name: "to_char(shelving, '999999999')" %></th>
                    <th class="hasinput"><%= text_field_tag :kir_ka, params[:kir_ka], class: 'form-control search', onchange: "reload({})", name: "to_char(kir_ka, '999999999')" %></th>
                    <th class="hasinput"><%= text_field_tag :at_ba, params[:at_ba], class: 'form-control search', onchange: "reload({})", name: "to_char(at_ba, '99999999')" %></th>
                    <th class="hasinput"><%= text_field_tag :de_be, params[:de_be], class: 'form-control search', onchange: "reload({})", name: "to_char(de_be, '999999999')" %></th>
                    <th class="hasinput"><%= text_field_tag :leadtime, params[:leadtime], class: 'form-control search', onchange: "reload({})", name: "to_char(leadtime, '999999999')" %></th>
                    <th colspan=6></th>
                  </tr>
                </thead>
                <tbody id='plano-list'><%= render 'plano_list' %></tbody>
              </table>
            </div>
          </div>
      </article>
    </div>
  </section>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Import Planogram</h4>
      </div>
      <%= form_tag import_planos_path(:id => params[:id]), multipart: true do %>
        <div class="modal-body">
          <%= file_field_tag :file, accept: ".csv", onchange: "checkfile(this);" %>
        </div>
        <div class="modal-footer">
          <%= link_to "Download Template", planos_path(format: "csv", :a => "a"), :class => "btn btn-success" %>
          <%= submit_tag "Import", :class => "btn btn-primary", :id => 'commit'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('#commit').bind("click",function(){
    if(!$('#file').val()){
      alert("File not been chosen");
      return false;
    }
  });
  window.reset = function (e) {
    e.wrap('<form>').closest('form').get(0).reset();
    e.unwrap();
  }
});
function checkfile(sender) {
    var validExts = new Array(".csv");
    var fileExt = sender.value;
    fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
    if (validExts.indexOf(fileExt) < 0) {
      alert("This is not a csv file");
      reset($("#file"));
      return false;
    }
    else return true;
};
  
  $(".search").on('keyup', function (e) {
    if (e.keyCode == 13) {
      reload({});
    }
  });

  function reload(params){
    params_for_export = []
    for (i=0; i<$('input.search').length; i++){
      input_search = $('input.search')[i]
      if (input_search.value != ''){
        params_for_export.push('search['+input_search.name+']' + '=' + input_search.value)
        params['search['+input_search.name+']'] = input_search.value
      }
    }
    if($("#store").val().length > 0){
      params['store'] = $("#store").val()
    }
    $.ajax({
      url: '<%= request.env['REQUEST_PATH'] %>'.split('?page')[0],
      method: "get",
      cache: false,
      data: params,
      dataType: "script"
    })
    $('#export_to_xls3').attr('href', "/<%= params[:controller] %>.xlsx?locale=en&store="+($('#store').length == 1 ? $('#store').val() : '')+"&"+params_for_export.join('&'))
    $('#export_to_csv3').attr('href', "/<%= params[:controller] %>.csv?locale=en&store="+($('#store').length == 1 ? $('#store').val() : '')+"&"+params_for_export.join('&'))
  }
</script>