<thead>
  <tr>
    <th><%= t(:no) %></th>
    <th><%= t(:sales) %>
      <span style="float: right;">
        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'name-desc', class: 'sorting hide' %>
        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'name-asc', class: 'sorting' %>
      </span>
    </th>
    <th>SKU
      <span style="float: right;">
        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'price-desc', class: 'sorting hide' %>
        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'price-asc', class: 'sorting' %>
      </span>
    </th>
    <th><%= t(:item_description) %></th>
    <th><%= t(:qty) %></th>
    <th><%= t(:uom) %></th>
    <th><%= t(:sales_price) %></th>
  </tr>
  <tr>
    <th></th>
    <th class="hasinput"><%= text_field_tag :sales, params[:sales], class: 'form-control pencarian', onchange: "load();" %></th>
    <th class="hasinput"><%= text_field_tag :sku, params[:sku], class: 'form-control pencarian', onchange: "load();" %></th>
    <th><%= text_field_tag :description, params[:description], class: 'form-control pencarian', onchange: "load();" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody id='purchase_order-list'><%= render 'sales_summary_item_list' %></tbody>