<div class="container">
  <div class="row login-container">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="col-md-5 col-md-offset-1">
        <h2>Resend <strong class="text-info">confirmation</strong> instructions</h2>
        <%= devise_error_messages! %>
      </div>
      
      <div class="col-md-5 ">
        <br>
        <div class="row">
          <div class="form-group col-md-10">
            <div class="controls">
              <div class="input-with-icon right">                                       
                <%= f.text_field :email, autofocus: true, class: "form-control", placeholder: "Email", autocomplete: "off" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="control-group  col-md-10">
            <div class="checkbox checkbox check-success pull-right">
              <%= link_to "Log in", new_session_path(resource_name) %>&nbsp;&nbsp;|
              <%= link_to "Forgot your password?", new_password_path(resource_name) %>&nbsp;&nbsp;
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <%= button_tag "Resend confirmation instructions", class: "btn btn-primary btn-cons pull-right", type: "submit" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>