<% id = "#{parent}#{key}".gsub('[', '').gsub(']', '') %>
<% name = "#{parent}[m_class_attributes][#{key}]" %>
<div class="alert alert-info alert-block" style='float: left; width: 98%; background-color: transparent; border-color: #9cb4c5 1px solid; border-width: 1px 1px 1px!important' id='level<%= id %>'>
  <section class="col col-md-12">
    <label class="col-md-2 label">Level <%= level %></label>
    <br/>
  </section>
  <%= hidden_field_tag "m_class#{name}[level]", level %>
  <section class="col col-md-4">
    <label class="col-md-2 label">Code</label>
    <label class="col-md-9 input custom-input-box">
      <%= label_tag "m_class#{name}[code]", (m_class.code rescue ''), class: "input-sm", placeholder: "Auto Generate", readonly: true %>
    </label>
  </section>
  <section class="col col-md-4">
    <label class="col-md-2 label">Name</label>
    <label class="col-md-9 input custom-input-box"><%= label_tag "m_class#{name}[name]", (m_class.name rescue ''), class: "input-sm", data: {validation: 'alphanumeric'} %></label>
  </section>
  <% m_class.m_classes.sort_by(&:code).each{|mclass| %>
    <%= render partial: 'sub_m_class2', locals: {level: mclass.level, key: "#{Time.now.to_i}#{mclass.id}", parent: "#{name}", m_class: mclass} %>
  <% } if m_class.present? %>
</div>
