<link rel="stylesheet" href="/css/jquery-ui-1.11.4.css">
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery-ui-1.11.4.js"></script>
<div id="ribbon">
  <ol class="breadcrumb">

  </ol>
</div>
<div id="content">
  <section id="widget-grid" class="">
    <div id="notice_template"><%= render 'layouts/notice' %></div>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false"><!-- Widget ID (each widget will need unique ID)-->
          <header id="header-product" role="heading">
          <h2><span class="widget-icon"> <i class="fa fa-list-ul"></i> </span><%= t(:selling_price_list) %></h2> <!-- header content --></header>
          <div>
            <div class="widget-body no-padding">
              <%= link_to raw("<span class='btn-label'><i class='glyphicon glyphicon-plus'></i></span>#{t(:add_selling_price)}"), new_selling_price_url, class: "btn btn-labeled btn-primary edit-btn-primary" %>
              <ul id="myTab1" class="nav nav-tabs" style='margin: 20px 0 6px 6px; float: left'>
                <li class="dropdown">
                  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i></button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Export to CSV",  selling_prices_path(:id => params[:id], format: "csv"), id: 'export_to_csv' %></li>
                    <li><%= link_to "Export to Excel", selling_prices_path(:id => params[:id], format: "xls") %></li>
                    <li data-toggle="modal" data-target="#myModal" style="cursor: pointer"><a>Import from CSV</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <section class="col col-md-2">
              <select id = "fitur_filter" onchange="fitur_filter();" class="form-control">
                <option value="current">Current</option>
                <option value="history">History</option>
                <option value="all">All</option>
              </select>
            </section>
            <table class="table table-striped table-bordered" width="100%">
              <thead>
                <tr>
                  <th><%= t(:no) %></th>
                  <th>
                    <%= t(:article) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'article-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'article-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:barcode) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'barcode-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'barcode-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:product_id) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'description-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'description-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:store) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'office_name-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'office_name-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:start_date) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'start_date-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'start_date-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:end_date) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'end_date-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'end_date-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:hpp) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'hpp-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'hpp-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:hpp_average) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'hpp-ave', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'hpp-ave-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:ppn_in) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'ppn_in-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'ppn_in-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:margin_percent) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'margin_percent-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'margin_percent-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:margin_amt) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'margin_amt-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'margin_amt-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:ppn_out) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'ppn_out-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'ppn_out-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    <%= t(:sell_price) %>
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'sell_price-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'sell_price-asc', class: 'sorting' %>
                    </span>
                  </th>
                </tr>
                <tr>
                  <th></th>
                  <th class="hasinput">
                    <%= text_field_tag :article, params[:article], class: 'form-control search' %>
                  </th>
                  <th class="hasinput">
                    <%= text_field_tag :barcode, params[:barcode], class: 'form-control search' %>
                  </th>
                  <th class="hasinput">
                    <%= text_field_tag :product_id, params[:product_id], class: 'form-control search', name: "products.description" %>
                  </th>
                  <th class="hasinput">
                    <%= text_field_tag :office_name, params[:office_name], class: 'form-control search', name: "offices.office_name" %>
                  </th>
                  <th>
                    <%= text_field_tag :start_date, params[:start_date], class: 'form-control search', name: "to_char(selling_prices.start_date,'YYYY-MM-DD')" %>
                  </th>
                  <th>
                    <%= text_field_tag :end_date, params[:end_date], class: 'form-control search', name: "to_char(selling_prices.end_date,'YYYY-MM-DD')" %>
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id='selling_price-list'><%= render 'selling_price_list' %></tbody>
            </table>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Import Selling Price</h4>
      </div>
      <%= form_tag import_selling_prices_path(:id => params[:id]), multipart: true do %>
        <div class="modal-body">
          <%= file_field_tag :file %>
        </div>
        <div class="modal-footer">
          <%= link_to "Download Template", selling_prices_path(format: "csv", :a => "a"), :class => "btn btn-success" %>
          <%= submit_tag "Import", :class => "btn btn-primary"%>
          <%#= submit_tag "Reset Product Per Store", :class => "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('#commit').bind("click",function(){
    if(!$('#file').val()){
      alert("File not been chosen");
      return false;
    }
  });
  window.reset = function (e) {
    e.wrap('<form>').closest('form').get(0).reset();
    e.unwrap();
  }
});
function checkfile(sender) {
    var validExts = new Array(".csv");
    var fileExt = sender.value;
    fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
    if (validExts.indexOf(fileExt) < 0) {
      alert("This is not a csv file");
      reset($("#file"));
      return false;
    }
    else return true;
};
function fitur_filter(idnya){
  $.ajax({
    url: "/selling_prices",
    method: "get",
    data: {
      fitur_filter: $("#fitur_filter").val(),
      search: {
        "barcode": $("#barcode").val(),
        "offices.office_name": $("#office_name").val(),
        "article": $("#article").val(),
        "products.description": $("#product_id").val(),
        "products.short_name": $("#receipt_name").val(),
        "to_char(selling_prices.start_date,'YYYY-MM-DD')": $("#start_date").val(),
        "to_char(selling_prices.end_date,'YYYY-MM-DD')": $("#end_date").val()
      }
    },
    dataType: "script"
  })
};
</script>
