<%= render 'shared/breadcrumb' %>
<div id="content"><!-- MAIN CONTENT -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Petty Cash for <%= @petty_cash.year.strftime('%B') %> <%= @petty_cash.year.year %> </h2>
                    </header>
                   <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->

                        <div class="widget-body no-padding">
                            <%= render 'filter' %>
                        </div>

                        <div class="widget-body no-padding" id="petty-cash-details-list">
                            <%= render partial: 'petty_cash_details' %>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
    <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>  <!-- end row -->

