<% @products.each_with_index do |product, i| %>
<tr>
  <td class="hidden-phone"><%= i + 1 %></td>
  <td class="hidden-phone"><%= product.barcode %></span></td>
  <td class="hidden-phone"><%= product.article %></span></td>
  <td class="hidden-phone"><%= product.brand.name rescue '' %></span></td>
  <td class="hidden-phone"><%= product.department.name rescue '' %></span></td>
  <td class="hidden-phone"><%= product.purchase_price %></span></td>
  <td class="hidden-phone"><%= product.selling_price%></span></td>
  <% sum = 0 %>
  <% product.product_details.each do |pd| %>
    <% sum += pd.available_qty || 0 %>
  <% end %>
  <td class="hidden-phone"><%= sum %></span></td>
</tr>
<% end %>

<tr>
  <td colspan=8>
    <% if @products.present? %>
      <div class="dataTables_paginate paging_simple_numbers" id="dt_basic_paginate">
        <%= pagination_links(@products, options = {}) %>
      </div>
    <% else %>
      <%= raw '<center>No Data Available</center>' %>
    <% end %>
  </td>
</tr>
