<div class="row-fluid">
  <div class="span12">
    <div class="widget">
      <div class="widget-header">
        <div class="title">Formulir Sub Type</div>
      </div>
      <div class="widget-body">
        <div class="container" id="form-type">
          <%= form_for @type, html: {class: "form-horizontal no-margin"} do |f| %>
            <div class="container-fluid">
              <div class="row-fluid" style="margin-bottom: 20px;">
                <div class="span6">
                  <div class="control-group">
                    <%= label_tag :id, "Code", class: "control-label" %>
                    <div class="controls controls-row">
                      <%= f.text_field :code, :value => @type.new_record? ? (('%03d' % ((@types.last.code.to_i rescue 0)+1))) : @type.code,
                        :readonly => true %>
                    </div>
                  </div>
                </div>
                <div class="span6">
                  <div class="control-group">
                    <%= label_tag :nama, raw("Name <span class='important'>*</span>"), :class => "control-label" %>
                    <div class="controls controls-row">
                      <%= f.text_field :name, class: "input-block-level #{(error_field @type, :name)}", :class => "span11 input_uppercase #{(error_field @type, :name)}",
                        placeholder: "Name" %>
                    </div>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span12">
                    <div class="form-actions no-margin">
                      <button type="reset" class="btn btn-info span2 pull-right">Reset</button>
                      <%= submit_tag 'Simpan', class: 'btn btn-info span2 pull-right marginR10px' %>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>