<td><%= product.article rescue '' %></td>
<td><%= product.description rescue '' %></td>
<td>
  <%= pod.hpp %>
</td>
<td>
  <%= hidden_field_tag "receiving[receiving_details_attributes][#{key}][product_id]", (product.id rescue '') %>
  <%= hidden_field_tag "receiving[receiving_details_attributes][#{key}][hpp]", pod.hpp %>
  <%= hidden_field_tag "receiving[receiving_details_attributes][#{key}][unit_type]", pod.unit_type %>
  <%= pod.quantity %>
</td>
<td><%= pod.unit_type %></td>
<td class='subtotal'><%= pod.hpp*pod.quantity rescue 0 %></td>
<td><%= text_field_tag "receiving[receiving_details_attributes][#{key}][quantity]", (quantity rescue 0) %></td>
<td>
  <a href="javascript:void(0)" class="btn btn-warning btn-xs custom-edit-btn" onclick="removeList(this)">
    <i class="fa fa-trash-o" rel="tooltip" data-placement="left" data-original-title="Delete"></i>
  </a>
</td>
