<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Purchasing</li><li>Receiving</li><li>List</li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <section id="widget-grid" class=""><!-- widget grid -->
    <div id='notice_template'><%= render 'layouts/notice' %></div>
    <div class="row"><!-- row -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- NEW WIDGET START -->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false"><!-- Widget ID (each widget will need unique ID)-->
          <!-- <header>
            <span class="widget-icon"> <i class="fa fa-list-ul"></i> </span>
            <h2>List Purchase Receipts</h2>
          </header> -->
          <header id="header-product" role="heading">
          <h2><span class="widget-icon"> <i class="fa fa-list-ul"></i> </span> List Purchase Receipts</h2> <!-- header content --></header>
          <div style='overflow-y: hidden'><!-- widget div-->
            <div class="widget-body no-padding" style='overflow-y: hidden'><!-- widget content -->
              <%= link_to raw('<span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Add Receipt'), new_receiving_path, class: "btn btn-labeled btn-primary edit-btn-primary" %>
              <ul id="myTab1" class="nav nav-tabs" style='margin: 20px 0 6px 6px; float: left'>
                <li class="dropdown">
                  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i></button>
                    <ul class="dropdown-menu" >
                      <li style="color:'black';"><%= link_to "Export to Excel", receivings_path(:id => params[:id], format: "xls") %></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- end widget content -->
                <table class="table table-striped table-bordered table-hover" width="100%">
                  <thead>
                  <tr>
                    <th>No</th>
                    <th>
                      Receive No
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'code-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'code-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      Date
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'date-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'date-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      Supplier
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'supplier_name-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'supplier_name-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <% if use_purchase_order %>
                      <th>
                        PO Number
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'po_number-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'po_number-asc', class: 'sorting' %>
                        </span>
                      </th>
                      <th class="punya_toko">
                        Store
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'po_number-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'po_number-asc', class: 'sorting' %>
                        </span>
                      </th>
                    <% end %>
                  <th class='nowrap'>
                    Received Qty
                    <%= link_to 'javascript:void(0)', id: 'received_qty-desc', class: 'sorting hide' do %>
                      <i class="fa fa-sort-desc"></i>
                    <% end %>
                    <%= link_to 'javascript:void(0)', id: 'received_qty-asc', class: 'sorting' do %>
                      <i class="fa fa-sort-asc"></i>
                    <% end %>
                  </th>
                  <% if use_purchase_order %>
                    <th class='nowrap'>
                      PO Qty
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'total_qty-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'total_qty-asc', class: 'sorting' %>
                    </th>
                    <th class='nowrap'>
                      Outstanding Qty
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'outstanding_qty-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'outstanding_qty-asc', class: 'sorting' %>
                    </th>
                  <% end %>
                  <th class='nowrap'>
                    Total Cost Price
                    <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'total_receiving_detail-desc', class: 'sorting hide' %>
                    <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'total_receiving_detail-asc', class: 'sorting' %>
                  </th>
                  <th>
                    Note
                  <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'note-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'note-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      Status
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'status-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'status-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>Action</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th class="hasinput"><%= text_field_tag :number, params[:number], class: 'form-control search', name: 'receivings.number' %></th>
                    <th class="hasinput"><%= text_field_tag :date, params[:date], class: 'form-control search', name: "to_char(receivings.date, 'DD-MM-YYYY')" %></th>
                    <th class="hasinput"><%= text_field_tag :supplier_name, params[:supplier_name], class: 'form-control search', name: "suppliers.name" %></th>
                    <% if use_purchase_order %>
                      <th class="hasinput"><%= text_field_tag :po_number, params[:supplier_name], class: 'form-control search', name: "purchase_orders.number" %></th>
                      <th class="hasinput punya_toko"><%= text_field_tag :office_name, params[:office_name], class: 'form-control search', name: "office_name" %></th>
                      <th></th>
                      <th></th>
                    <% end %>
                    <th></th>
                    <th></th>
                    <th class="hasinput"><%= text_field_tag :note, params[:note], class: 'form-control search', name: 'receivings.note' %></th>
                    <th class="hasinput"><%= text_field_tag :status, params[:status], class: 'form-control search', name: 'receivings.status' %></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id='receiving-list'><%= render 'receiving_list' %></tbody>
              </table>
          </div>
        </div><!-- end widget -->
      </article><!-- WIDGET END -->
    </div>	<!-- end row -->
  </section><!-- end widget grid -->
</div>	<!-- end row -->