<script src="/js/jquery.min.js"></script><!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Master Data</li><li>User</li><li>Change Password</li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-User">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2>Change Password User</h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
            <%= form_for @user, url: post_change_password_user_url, html: {class: "smart-form", id: "form-update-verify"} do |f| %>
              <fieldset>
                <div class="row">
                  <section class="col col-md-12">
                    <section class="col col-md-6">
                      <section class="form-group">
                        <label class="col-md-3 label">Name</label>
                        <label class="col-md-7 input custom-input-box"><%= @user.fullname %></label>
                      </section>
                      <section class="form-group">
                        <label class="col-md-3 label">Username</label>
                        <label class="col-md-7 input custom-input-box"><%= @user.username %></label>
                      </section>
                      <section class="form-group">
                        <label class="col-md-3 label">Email <span class='important'>*</span></label>
                        <label class="col-md-7 input custom-input-box"><%= @user.email %></label>
                      </section>
                      <section class="form-group">
                        <label class="col-md-3 label">Password <span class='important'>*</span></label>
                        <label class="col-md-7 input custom-input-box"><%= f.password_field :password, class: "input-sm" %></label>
                      </section>
                      <section class="form-group">
                        <label class="col-md-3 label">Password Confirmation <span class='important'>*</span></label>
                        <label class="col-md-7 input custom-input-box"><%= f.password_field :password_confirmation, class: "input-sm" %></label>
                      </section>
                    </section>
                  </section>
                </div>
              </fieldset>
              <footer>
                <%= submit_tag 'Submit', class: 'btn btn-primary' %>
                <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
              </footer>
            <% end %>
          </div><!-- end widget content -->
        </div><!-- end widget div -->
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div><!-- end widget div -->
</div><!-- end widget div -->
<SCRIPT>
  $(document).ready(function() {
    $('.add_contact').click(function(){
      var date = new Date();
      $.ajax({
        url: '/Users/add_contact',
        data: {
          key: date.getDay() + ""+date.getMonth() + "" + date.getFullYear() + "" + date.getHours() + "" + date.getMinutes() + "" + date.getSeconds()
        }
      })
    })
    $('.add_bank_account').click(function(){
      var date = new Date();
      $.ajax({
        url: '/Users/add_bank_account',
        data: {
          key: date.getDay() + ""+date.getMonth() + "" + date.getFullYear() + "" + date.getHours() + "" + date.getMinutes() + "" + date.getSeconds()
        }
      })
    })
  })
</SCRIPT>
