<%= render 'shared/breadcrumb' %>
<div id="content"><!-- MAIN CONTENT -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Forecast <%= @monthly_forecast.forecast.office.office_name %> <%= Time.new(@monthly_forecast.forecast.year.year, @monthly_forecast.month_number).strftime("%B") %> <%= @monthly_forecast.forecast.year.year %> </h2>
                    </header>
                   <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <%= render 'month_department' %>
                        <div id="month-forecast">
                            <%= render 'monthly_forecast' %>
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
    <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>  <!-- end row -->