<% @product_receipts.each_with_index do |gt, i| %>
  <tr>
    <td class="hidden-phone"><%= params[:page] ? (params[:page].to_i*10+i-9) : i+1 %></td>
    <td><span class="name"><%= gt.created_at.to_s(:db)[0..9].to_time.strftime('%d-%m-%Y') %></span></td>
    <td><%= link_to gt.code, gt.status == ProductMutation::PENDING ? accept_product_receipt_url(gt) : product_receipt_url(gt) %></td>
    <td class="hidden-phone"><%= gt.origin_name %></td>
    <td class="hidden-phone"><%= gt.destination_name %></td>
    <td class="hidden-phone"><%= gt.sender_name %></td>
    <td class="hidden-phone"><%= gt.no_surat_jalan %></td>
    <td class="hidden-phone"><%= gt.status %></td>
  </tr>
<% end %>
<tr>
  <td colspan=8>
    <%#= will_paginate @products %>
    <% if @product_receipts.present? %>
      <div class="dataTables_paginate paging_simple_numbers" id="dt_basic_paginate">
        <%= pagination_links(@product_receipts, options = {}) %>
      </div>
    <% else %>
      <%= raw '<center>No Data Available</center>' %>
    <% end %>
  </td>
</tr>
