<link rel="stylesheet" href="/css/jquery-ui.css">
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery-ui.js"></script>
<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li><%= t(:inventory) %></li><li><%= t(:product_mutation) %></li><li><%= @good_transfer.number %></li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->

<script src="https://www.java.com/js/deployJava.js"></script>
<script type="text/javascript">
  var attributes = { id:'epsonApplet',
                     code:'epson.Epson',  width:1, height:1} ;
  var parameters = { jnlp_href: '/applet/epson.jnlp'} ;
  deployJava.runApplet(attributes, parameters, '1.7');
</script>

<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-good_transfer">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2><%= @good_transfer.number %></h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
            <%= form_for @good_transfer, html: {class: "smart-form", id: "form-update-verify"} do |f| %>
              <fieldset>
                <div class="row">
                  <section class="col col-md-6">
                    <section>
                      <label class="col-md-4 label"><%= t(:effective_date) %></label>
                      <label class="col-md-8 input custom-input-box"><%= @good_transfer.effective_date %></label>
                    </section>
                    <section>
                      <label class="col-md-4 label">SI Number</label>
                      <label class="col-md-8 input custom-input-box"><%= @good_transfer.number %></label>
                    </section>
                    <section>
                      <label class="col-md-4 label">Location</label>
                      <label class="col-md-8 input custom-input-box"><%= @good_transfer.destination.office_name %></label>
                    </section>
                    <section>
                      <label class="col-md-4 label">User</label>
                      <label class="col-md-8 input custom-input-box"><%= @good_transfer.user.fullname %></label>
                    </section>
                    <section>
                      <label class="col-md-4 label">Remark</label>
                      <label class="col-md-8 input custom-input-box"><%= @good_transfer.remark %></label>
                    </section>
                  </section> <!-- col-md-6 -->
                </div> <!-- row -->
              </fieldset> <!-- tambah supplier -->
              <fieldset class="col col-md-12"> <!-- brand person -->
                <div class="row">
                  <section class="col col-md-12">
                    <table class="table table-striped table-brequested table-hover" width="100%" id="request">
                      <thead>
                        <tr>
                          <th><%= t(:no) %></th>
                          <th>
                            <%= t(:article) %>
                            <span style="float: right;">
                              <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'article-desc', class: 'sorting hide' %>
                              <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'article-asc', class: 'sorting' %>
                            </span>
                          </th>
                          <th>
                            <%= t(:barcode) %>
                            <span style="float: right;">
                              <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'barcode-desc', class: 'sorting hide' %>
                              <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'barcode-asc', class: 'sorting' %>
                            </span>
                          </th>
                          <th>
                            <%= t(:description) %>
                            <span style="float: right;">
                              <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'description-desc', class: 'sorting hide' %>
                              <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'description-asc', class: 'sorting' %>
                            </span>
                          </th>
                          <th><%= t(:quantity) %>
                            <span style="float: right;">
                              <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'quantity-desc', class: 'sorting hide' %>
                              <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'quantity-asc', class: 'sorting' %>
                            </span></span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @good_transfer.stock_transfer_details.each_with_index do |detail, i| %>
  <% product = detail.product %>
  <tr>
    <td><%= i+1 %></td>
    <td><%= product.article rescue '' %></td>
    <td><%= product.barcode rescue '' %></td>
    <td><%= product.description rescue '' %></td>
    <td style='text-align: right'><%= detail.quantity %></td>
  </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </section>
                </div> <!-- row -->
              </fieldset>
              <footer>
                <button type="button" class="btn btn-default" onclick="window.history.back();">
                  Back
                </button>
                <%= link_to 'Print To PDF', print_to_pdf_stock_transfer_url(@good_transfer), class: 'btn btn-primary' %>
              </footer>
            <% end %>
          </div><!-- end widget content -->
        </div><!-- end widget div -->
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div><!-- end widget div -->
</div><!-- end widget div -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<script type="text/javascript">
  $(document).ready(function() {
    clone_details()
    <% if params[:action] == 'edit' %>
      <% @good_transfer.good_transfer_details.joins(product_size: :product).select("DISTINCT product_id").each{|cp| %>
        add_brand('<%= cp.product_id %>')
      <% } %>
    <% end %>
    autocomplete_barcode()
    $('.add_brand').click(function(){
      add_brand()
    })
    set_barcode()
  });

  function print_tis() {
    epsonApplet.tglterima = "<%= @good_transfer.effective_date %>";
    epsonApplet.noterima = "<%= @good_transfer.number %>";

    var source = [
      <% @good_transfer.stock_transfer_details.each do |detail| %>
        <% product = detail.product %>

        ["<%= product.barcode rescue '' %>", "<%== product.brand.name rescue '' %>",
         "<%= product.m_class.name rescue '' %>", "<%= product.article rescue '' %>", "<%= detail.quantity %>"],
      <% end %>
    ];

    epsonApplet.sperson = "<%= current_user.fullname %>";
    epsonApplet.tgl = "<%= Time.now.strftime('%Y-%m-%d %H:%M:%d') %>";

    console.log(epsonApplet.printTis(source));
  }

  function set_barcode(){
    if ($('#good_transfer_origin_branch_id').val() == '')
      $('#barcode').attr('disabled', 'disabled')
    else
      $('#barcode').removeAttr('disabled')

  }
  function add_brand(product_id, good_transfer_detail_id){
    var date = new Date();
    $.ajax({
      url: '/good_transfers/add_brand',
      data: {
        key: date.getDay() + ""+date.getMonth() + "" + date.getFullYear() + "" + date.getHours() + "" + date.getMinutes() + "" + date.getSeconds(), product_id: product_id,
        warehouse_id: $('#good_transfer_origin_branch_id').val(), id: '<%= @good_transfer.id %>'
      }
    })
  }

  function merk(){
  }

  function autocomplete_barcode(){
    $(".autocompletenya").autocomplete({
      search: function () {},
      source: function (request, response)
      {
        $.ajax(
        {
          url: "/products/autocomplete_goods_barcode",
          dataType: "json",
          data: {term: request.term},
          success: function (data){
            response(data)
          },
        });
      },
      select: function( event, ui ) {
        add_brand(ui.item.id)
      },
      minLength: 1
    });
  }

  function beforeSave(){
    var good_id = [];
    var tot = $('#request tbody tr').length;
    if(tot != 0){
      for(var y=0; y < tot; y+=1){
        good_id.push($("#request tbody tr:eq("+ y +") td:eq(0) span").text())
      }
      $("#good_list").val(good_id.toString());
      clone_inputs()
      setTimeout(function(){$('form').submit()}, 1000);
    }else{
      alert('Insert Data First!')
      return false;
    }
  }

  function deleteRow(event){
    $(event.target).parent().parent().parent().remove();
  }
</script>
<script src="/js/jquery.min.js"></script>
