<script src="/js/jquery.min.js"></script><!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Master Data</li><li>Size</li><li><%= @size.description %></li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-supplier">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2><%= @size.description %></h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
            <%= form_for @size, html: {class: "smart-form", id: "form-update-verify"} do |f| %>
              <fieldset>
                <div class="row">

                  <section class="col col-md-6">
                    <section>
                      <label class="label col-md-3">Code</label>
                      <label class="input col-md-9 custom-input-box"><%= @size.code %></label>
                    </section>
                    <section>
                      <label class="label col-md-3">Keterangan</label>
                      <label class="input col-md-9 custom-input-box"><%= @size.description %></label>
                    </section>
                  </section> <!-- col-md-6 -->
                  <section class="col col-md-12">
                    <section>
                      <Header>Size Detail</header><br>
                      <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                        <thead>
                          <tr>
                            <% (1..@size.sorted_size_details.size).each do |i| %>
                              <th style="width:4%"><%= i %></th>
                            <% end %>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <% @size.sorted_size_details.each_with_index{|size, i| %>
                              <td><%= size.size_number %></td>
                            <% } %>
                          </tr>
                        </tbody>
                      </table>
                    </section>
                  </section> <!-- col-md-12 -->

                </div> <!-- row -->
              </fieldset>
              <footer>
                <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
              </footer>
            <% end %>
          </div><!-- end widget content -->
        </div><!-- end widget div -->
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div><!-- end widget div -->
</div><!-- end widget div -->
