<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Purchasing</li><li>Purchase Transfer</li><li>List</li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <section id="widget-grid" class=""><!-- widget grid -->
    <div class="row"><!-- row -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- NEW WIDGET START -->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false"><!-- Widget ID (each widget will need unique ID)-->
          <header id="header-product" role="heading">
          <h2><span class="widget-icon"> <i class="fa fa-list-ul"></i> </span> List Purchase</h2> <!-- header content --></header>
          <div>
            <div class="widget-body no-padding"><!-- widget content -->
              <%= link_to raw('<span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Add Transfer'), new_purchase_transfer_path,
                class: "btn btn-labeled btn-primary edit-btn-primary" %>
              <table class="table table-striped table-btransfered table-hover" width="100%">
                <thead>
                  <tr>
                    <th>Nomor</th>
                    <th>
                      Transfer No
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'code-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'code-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      Date
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'date-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'date-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      PR
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'pr_number-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'pr_number-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      Supplier
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'supplier_name-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'supplier_name-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      Status
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'status-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'status-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>Action</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th class="hasinput"><%= text_field_tag :code, params[:code], class: 'form-control search', name: 'product_mutations.code' %></th>
                    <th class="hasinput"><%= text_field_tag :date, params[:date], class: 'form-control search', name: "to_char(mutation_date, 'DD-MM-YYYY')" %></th>
                    <th class="hasinput"><%= text_field_tag :pr_number, params[:pr_number], class: 'form-control search', name: "purchase_requests.number" %></th>
                    <th class="hasinput"><%= text_field_tag :supplier_name, params[:supplier_name], class: 'form-control search', name: "suppliers.name" %></th>
                    <th class="hasinput"><%= text_field_tag :status, params[:status], class: 'form-control search', name: 'product_mutations.status' %></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id='purchase_transfer-list'><%= render 'purchase_transfer_list' %></tbody>
              </table>
            </div><!-- end widget content -->
          </div>
        </div><!-- end widget -->
      </article><!-- WIDGET END -->
    </div><!-- end row -->
  </section><!-- end widget grid -->
</div><!-- end row -->