<% @receivings.each_with_index do |receiving, i|%>
  <% total = 0 %>
  <% total_ppn = 0 %>
  <% receiving.receiving_details.each do |rd| %>
    <% total += rd.hpp * rd.quantity %>
  <% end %>
    <% total_ppn = total * 0.1 if receiving.supplier.status_pkp %>
  <tr>
    <td class="hidden-phone"><%= i + 1 %></td>
    <td><%= receiving.number %></td>
    <td><%= receiving.date %></td>
    <td><%= receiving.office_name %></td>
    <td><%= format_currency total %></td>
    <td><%= format_currency total_ppn %></td>
    <td><a href="javascript:void(0)" onclick="changeReceiving('<%= receiving.number %>','<%=@key%>')" class="btn btn-primary"> Choose </a></td>
  </tr>
<% end %>
<tr>
  <td colspan=9>
    <% if @receivings.present? %>
      <div class="dataTables_paginate paging_simple_numbers" id="dt_basic_paginate">
        <%= pagination_links(@receivings, options = {}) %>
      </div>
    <% else %>
      <%= raw '<center>No Data Available</center>' %>
    <% end %>
  </td>
</tr>
