<% @areas.each_with_index do |area, i| %>
  <tr>
    <td class="hidden-phone"><%= params[:page] ? (params[:page].to_i*10+i-9) : i+1 %></td>
    <td><span class="name"><%= area.code %></span></td>
    <td><%= link_to area.name, area_path(area), class: 'blue' %></td>
    <td><%= area.city_name %></td>
    <td><%= area.regional_name %></td>
    <td><%= area.description %></td>
    <td class="hidden-phone nowrap ">
      <%= link_to edit_area_path(area), class: "btn btn-primary btn-xs edit-btn-dlt" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to 'javascript:void(0)', onclick: "delete_one(#{area.id}, 'areas')", class: "btn btn-danger btn-xs edit-btn-dlt" do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan=7>
    <% if @areas.present? %>
      <div class="dataTables_paginate paging_simple_numbers" id="dt_basic_paginate">
        <%= pagination_links(@areas, options = {}) %>
      </div>
    <% else %>
      <%= raw '<center>No Data Available</center>' %>
    <% end %>
  </td>
</tr>
