<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="s21" ss:Name="Normal">
      <Alignment ss:Vertical="Bottom" />
      <Borders />
      <Font ss:Color="RED"/>
      <Interior />
      <NumberFormat />
      <Protection />
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
    <Column ss:Span="2"/>
      <Row>
        <Cell><Data ss:Type="String">Supplier Code</Data></Cell>
        <Cell><Data ss:Type="String">Supplier Name</Data></Cell>
        <Cell><Data ss:Type="String">Product Code</Data></Cell>
        <Cell><Data ss:Type="String">Product Name</Data></Cell>
        <Cell><Data ss:Type="String">Alamat Supplier</Data></Cell>
        <Cell><Data ss:Type="String">Cost of Product</Data></Cell>
        <Cell><Data ss:Type="String">Status PKP</Data></Cell>
        <Cell><Data ss:Type="String">Flag Tax</Data></Cell>
      </Row>
    <% @product_suppliers.all.each do |product_supplier| %>
      <Row>
        <Cell><Data ss:Type="String"><%= product_supplier.supplier_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product_supplier.supplier_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product_supplier.product_barcode %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product_supplier.product_description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product_supplier.supplier_address %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product_supplier.product.cost rescue 0 %></Data></Cell>
        <% if (product_supplier.supplier.status_pkp rescue nil).blank? %>
          <Cell><Data ss:Type="String">Non-PKP</Data></Cell>
        <% else %>
          <Cell><Data ss:Type="String">PKP</Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= product_supplier.product.flag_pajak rescue '' %></Data></Cell>
      </Row>
  <% end %>
    </Table>
  </Worksheet>
</Workbook>
