<% if @stock_opname.office.nil? %>
  <script src="https://www.java.com/js/deployJava.js"></script>
  <script type="text/javascript">
    var attributes = {id:'epsonApplet', code:'epson.Epson',  width:1, height:1} ;
    var parameters = {jnlp_href: '/applet/epson.jnlp'} ;
    deployJava.runApplet(attributes, parameters, '1.7');
  </script>
<% end %>

<%= form_for @stock_opname, html: {class: "smart-form", id: "form-update-verify"} do |f| %>
  <fieldset>
    <div class="row">
      <section class="col col-md-12">
        <section class="col col-md-6">
          <label class="col-md-4 label">No Stock Opname</label>
          <label class="col-md-8 input custom-input-box">
            <%= f.text_field :opname_number, class: "input-block-level", readonly: true %>
          </label>
          <label class="col-md-4 label">SO Type</label>
          <label class="col-md-8 input custom-input-box">
            <%= f.select :so_type, options_for_select(['By Item', 'By Rack', 'All Item'], selected: @stock_opname.so_type),{}, onchange: 'change_so_type();' %>
          </label>
          <label class="col-md-4 label so_dept hide">Department</label>
          <label class="col-md-8 input custom-input-box so_dept hide">
            <%= select_tag "stock_opname_dept", options_for_select(@departments.map { |dept| [dept.name, dept.id] }), multiple: true, id: 'stock_opname_dept' %>
          </label>
          <label class="col-md-4 label">Store</label>
          <label class="col-md-8 input custom-input-box">
            <% if current_user.office_id.present? %>
              <%= f.select :office_id, options_for_select(Office.where(id: current_user.office_id).map{|reg|[reg.office_name, reg.id]}, current_user.office_id), {}, {class: 'form-control', disabled: true} %>
              <%= f.hidden_field :office_id, value: current_user.office_id %>
            <% else %>
              <%= f.select :office_id, options_for_select(Office.active_store.map{|office|[office.office_name, office.id]}, selected: @stock_opname.office_id), {prompt: 'Please Choose'}, {onchange: "office_selected(this);"} %>
            <% end %>
          </label>
          <label class="col-md-4 label rack_field hide">Rack</label>
          <label class="col-md-8 input custom-input-box rack_field hide">
            <% if current_user.office_id.present? %>
              <%= select_tag :rack_number, options_for_select(PlanogramsStore.where(branch_id: current_user.office_id).map{|reg|[reg.planogram.rack_number, reg.planogram_id]}), {class: "form-control", :prompt => 'Please Choose', onchange: 'change_so_type();'} %>
            <% else %>
              <%= select_tag :rack_number, options_for_select(PlanogramsStore.all.map{|reg|[reg.planogram.rack_number, reg.planogram_id]}), {class: "form-control", :prompt => '- Select Store First -', onchange: 'rack_selected(this);', disabled: true} %>
            <% end %>
          </label>
<!--          <label class="col-md-4 label">Warehouse</label>
          <label class="col-md-8 input custom-input-box">
            <%#= f.select :warehouse_id, options_for_select(Warehouse.all.map{|office|[office.office_name, office.id]}, selected: @stock_opname.office_id), prompt: 'Please choose' %>
          </label>-->
          <label class="col-md-4 label">Date</label>
          <label class="col-md-8 input custom-input-box">
            <%= f.text_field :start_date, class: "input-block-level", value: Time.now.strftime('%d-%m-%Y %H:%M:%S'), readonly: true %>
          </label>
          <label class="col-md-4 label">System Stock</label>
          <label class="col-md-8 input custom-input-box">
            <%= f.text_field :system_stock, class: "input-block-level", readonly: true %>
          </label>
          <button type="button" id="so_by_rack" class="btn btn-primary btn-sm hide" onclick="so_by_rack_select();">Start Now</button>
          <button type="button" id="so_by_item" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".modal_per_item">Start Now</button>
          <%= link_to 'Start Now', 'javascript:void(0)', id: 'so_all_item', class: 'btn btn-primary btn-sm hide',
            disabled: StockOpname.find_by_office_id_and_status(@stock_opname.office_id, 'ONPROCESS').present?, onclick: 'validate_store()' %>
          <%= link_to 'End Now', 'javascript:void(0)', class: 'btn btn-primary btn-sm', disabled: StockOpname.find_by_office_id_and_status(@office_id, 'ONPROCESS').blank?, onclick: 'end_so()' %>
        </section>
        <section class="col col-md-6">
          <label class="col-md-4 label">Sold</label>
          <label class="col-md-8 input custom-input-box"><%= f.text_field :sold, class: "input-block-level", readonly: true %></label>
          <label class="col-md-4 label">Received</label>
          <label class="col-md-8 input custom-input-box"><%= f.text_field :received_from_transfer, class: "input-block-level", readonly: true %></label>
          <label class="col-md-4 label">Mutation In</label>
          <label class="col-md-8 input custom-input-box"><%= f.text_field :mutation_in, class: "input-block-level", readonly: true %></label>
          <label class="col-md-4 label">Mutation Out</label>
          <label class="col-md-8 input custom-input-box"><%= f.text_field :mutation_out, class: "input-block-level", readonly: true %></label>
          <label class="col-md-4 label">Retur</label>
          <label class="col-md-8 input custom-input-box"><%= f.text_field :retur, class: "input-block-level", readonly: true %></label>
          <label class="col-md-4 label">Last Stock</label>
          <label class="col-md-8 input custom-input-box"><%= f.text_field :last_stock, class: "input-block-level", readonly: true %></label>
          <label class="col-md-4 label">Date Finished</label>
          <label class="col-md-8 input custom-input-box"><%= f.text_field :end_date, class: "input-block-level", readonly: true %></label>
          <label class="col-md-4 label">Actual Stock</label>
          <label class="col-md-8 input custom-input-box"><%= f.text_field :actual_stock, class: "input-block-level", readonly: true %></label>
          <label class="col-md-4 label">Differences</label>
          <label class="col-md-8 input custom-input-box"><%= text_field_tag :diff, @stock_opname.diff, class: "input-block-level", readonly: true %></label>
          <label class="col-md-4 label">Notes</label>
          <label class="col-md-12 textarea custom-input-box"><%= f.text_area :note, height: 7 %></label>
        </section>
      </section>
      <% if params[:action] == 'edit' %>
        <header>Opname Details</header>
        <fieldset class="col col-md-12">
          <div class="row">
            <section class="col col-md-12">
              <%#= link_to "Print to LHSO", print_lkso_stock_opname_path(params[:id]), :class => "btn btn-success btn-sm" %>
              <%= link_to "Export to Excel", stock_opname_path(params[:id], format: "xlsx"), :class => "btn btn-success btn-sm" %>
              <%= link_to "Download Form", stock_opname_details_path(format: "csv", id: params[:id]), :class => "btn btn-sm btn-success" if @stock_opname.so_type == 'By Item' %>
              <%= link_to "Download Form", stock_opname_details_path(format: "csv", :a => "a", id: params[:id]), :class => "btn btn-sm btn-success" unless @stock_opname.so_type == 'By Item' %>
              <a data-toggle="modal" data-target="#myModal" href="javascript:void(0);" class="btn btn-primary btn-sm" id="import">Import</a>
              <br>
              <br>
              <div class="widget-body no-padding"><!-- TABEL -->
                <div class="table-responsive">
                  <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Sku</th>
                        <th>Barcode</th>
                        <th>Description</th>
                        <th>Sold</th>
                        <th>Receive Transfer</th>
                        <th>Retur</th>
                        <th>Mutation In</th>
                        <th>Mutation Out</th>
                        <th>LPP</th>
                        <th>Store Stock</th>
                        <th>Warehouse Stock</th>
                        <th>Actual Stock</th>
                        <th>Diff</th>
                      </tr>
                    </thead>
                    <tbody id='brand'>
                      <%
                        @stock_opname_details.each_with_index{|stock_opname_detail, i|
                          product = stock_opname_detail.product
                          if product.present?
                            product_detail = ProductDetail.find_by_product_id_and_warehouse_id(product.id, @stock_opname.office_id)
                            store_qty, warehouse_qty = 0, 0
                            if stock_opname_detail.explanation.present?
                              store_dan_warehouse = stock_opname_detail.explanation.split(", ")
                              store_qty = store_dan_warehouse[0].gsub("store:", "").to_i
                              warehouse_qty = store_dan_warehouse[1].gsub("warehouse:", "").to_i
                            end
                      %>
                        <tr>
                          <td><%= i+1 %></td>
                          <td><label class="col-md-10 label"><%= product.article %></label></td>
                          <td><label class="col-md-10 label"><%= product.barcode %></label></td>
                          <td><label class="col-md-10 label"><%= product.description %></label></td>
                          <td><label class="col-md-10 label"><%= stock_opname_detail.sold %></label></td>
                          <td><label class="col-md-10 label"><%= stock_opname_detail.received_from_transfer %></label></td>
                          <td><label class="col-md-10 label"><%= stock_opname_detail.retur %></label></td>
                          <td><label class="col-md-10 label"><%= stock_opname_detail.mutation_in %></label></td>
                          <td><label class="col-md-10 label"><%= stock_opname_detail.mutation_out %></label></td>
                          <td><label class="col-md-10 label"><%= stock_opname_detail.qty_virtual %></label></td>
                          <td><%= number_field_tag "qty_store[#{stock_opname_detail.id}]", store_qty, class: "stock_store", onkeyup: "store_dan_warehouse('#{stock_opname_detail.id}');", min: 0 %></td>
                          <td><%= number_field_tag "qty_warehouse[#{stock_opname_detail.id}]", warehouse_qty, class: "stock_warehouse", onkeyup: "store_dan_warehouse('#{stock_opname_detail.id}');", min: 0 %></td>
                          <td><%= text_field_tag "qty_actual[#{stock_opname_detail.id}]", stock_opname_detail.qty_actual, class: "qty_opname", readonly: true %></td>
                          <td><%= stock_opname_detail.diff %></td>
                        </tr>
                      <% end %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </fieldset>
      <% end %>
    </div>
  </fieldset>
  <footer>
    <% unless (@stock_opname.so_type == "All Item" rescue true) %>
      <%= submit_tag 'Adjust', class: 'btn btn-primary' %>
      <%= hidden_field_tag :diklik %>
      <%= submit_tag 'Submit', class: 'btn btn-success', onclick: "$('#diklik').val('revisi')", disabled: (@stock_opname.status == 'REVISI') %>
    <% else %>
      <%= submit_tag 'Submit', class: 'btn btn-primary' %>
    <% end %>
    <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
  </footer>
<% end %>
