<% @units.each_with_index do |unit, i| %>
  <tr>
    <td class="hidden-phone"><%= params[:page] ? (params[:page].to_i*10+i-9) : i+1 %></td>
    <td><%= link_to unit.name, unit_path(unit), class: 'blue' %></td>
    <td class="hidden-phone"><%= unit.short_name %></td>
    <td class="hidden-phone">
      <%= link_to edit_unit_path(unit), class: "btn btn-primary btn-xs edit-btn-dlt" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to 'javascript:void(0)', onclick: "delete_one(#{unit.id}, 'units')", class: "btn btn-danger btn-xs edit-btn-dlt" do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan=4><!-- start pagination -->
    <div class="dataTables_paginate paging_simple_numbers" id="dt_basic_paginate">
      <%= pagination_links(@units, options = {}) %>
    </div>
  </td>
</tr>
