<link rel="stylesheet" href="/css/jquery-ui.css">
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery-ui.js"></script>
<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Master Data</li><li>Product Receipt</li><li><%= label %></li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-receive_product">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2><%= label %> Product Receipt</h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
            <%= form_for @receive_product, html: {class: "smart-form", id: "form-update-verify"} do |f| %>
              <fieldset>
                <section>
                  <label class="label">Date</label>
                  <label class="input"><%= f.text_field :transfer_date, value: Time.now.strftime('%d-%m-%Y'), class: "input-sm #{(error_field @receive_product, :transfer_date)}", disabled: true %></label>
                </section>
                <section>
                  <label class="label">No. Product Receipt</label>
                  <label class="input"><%= f.text_field :code, value: "TB/#{Time.now.strftime('%m/%y')}-#{'%06d' % ((@last_goods_transfer.id rescue 0)+1)}", class: "input-sm #{(error_field @receive_product, :code)}", readonly: true %></label>
                  <label class="input">
                    <%= f.hidden_field :no_surat_jalan, value: "SJ/#{Time.now.strftime('%m%y')}-#{'%06d' % ((@last_goods_transfer.id rescue 0)+1)}", class: "input-sm", readonly: true %>
                  </label> 
                  <label class="input"><%= f.hidden_field :receiver_id, value: current_user.id, readonly: true %></label>
                </section>
                <section>
                  <label class="label"><%= t(:origin_branch) %> <span class='important'>*</span></label>
                  <label class="input">
                    <%= f.collection_select(:origin_branch_id, Branch.all, :id, :office_name,{prompt: 'Origin Branch'},{ class: "input-sm #{(error_field @receive_product, :origin_branch_id)}" }) %>
                  </label>
                </section>
                <section>
                  <label class="label"><%= t(:destination_branch) %> <span class='important'>*</span></label>
                  <label class="input">
                    <%= f.collection_select(:destination_branch_id, Branch.all, :id, :office_name,{prompt: 'Origin Branch'},{ class: "input-sm #{(error_field @receive_product, :destination_branch_id)}" }) %>
                  </label>
                </section>
                <section>
                  <label class="input"><%= f.hidden_field :status, value: "Pending", class: "input-sm #{(error_field @receive_product, :status)}", readonly: true %></label>
                </section>
                <header><%= t(:product) %></header>
                <fieldset class="col col-md-12"> <!-- brand person -->
                  <div class="row">
                    <section class="col col-md-12">
                      <%= link_to t(:add), 'javascript:void(0)', class: 'btn btn-primary btn-xs add_brand', style: "margin-bottom:20px;" %>
                      <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                        <thead>
                          <tr>
                            <th><%= t(:barcode) %></th>
                            <th><%= t(:quantity) %></th>
                            <th><%= t(:size) %></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody id='brand'>
                          <% if params[:action] == 'edit' %>
                            <% @receive_product.receive_product_details.each{|cp| %>
                              <%= render partial: "receive_product_detail", locals: {key: cp.id, object: cp} %>
                            <% } %>
                          <% else %>
                            <% (params[:receive_product][:receive_product_details_attributes].keys rescue (0.upto(@receive_product.receive_product_details.size))).each{|i| %>
                            <%= render partial: "receive_product_detail", locals: {key: i, object: (params[:receive_product][:receive_product_details_attributes][i] rescue nil)} %>
                          <% } %>
                          <% end %>
                        </tbody>
                      </table>
                    </section>
                  </div> <!-- row -->
                </fieldset>
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
                <button type="button" class="btn btn-default" onclick="window.history.back();">
                  Back
                </button>
              </footer>
            <% end %>
          </div><!-- end widget content -->
        </div><!-- end widget div -->
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div><!-- end widget div -->
</div><!-- end widget div -->
<script type="text/javascript">
  $(document).ready(function() {
    $(".autocompletenya").autocomplete({
      search: function () {},
      source: function (request, response)
      {
        $.ajax(
        {
          url: "/products/autocomplete_goods_barcode",
          dataType: "json",
          data: {term: request.term},
          success: function (data){
            response(data)
          }
        });
      },
      minLength: 1
    });

    $('.add_brand').click(function(){
      var date = new Date();
      $.ajax({
        url: '/receive_products/add_brand',
        data: {
          key: date.getDay() + ""+date.getMonth() + "" + date.getFullYear() + "" + date.getHours() + "" + date.getMinutes() + "" + date.getSeconds()
        }
      })
    })
  });

  function merk(){
  }
</script>
<script src="/js/jquery.min.js"></script>