<div id="ribbon">
  <ol class="breadcrumb">
    <li>Master Data</li><li>Product Receipt</li><li>List</li>
  </ol>
</div>
<div id="content">
  <section id="widget-grid" class="">
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false"><!-- Widget ID (each widget will need unique ID)-->
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>List Product Receipt</h2>
          </header>
          <br>
          <br>
          <div>
            <div class="widget-body no-padding">
              <table class="table table-striped table-bordered" width="100%">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>
                      Date <%= link_to 'v', 'javascript:void(0)', id: 'created_at-desc', class: 'sorting hide' %><%= link_to '^', 'javascript:void(0)', id: 'created_at-asc', class: 'sorting' %>
                    </th>
                    <th>
                      No Product Receipt <%= link_to 'v', 'javascript:void(0)', id: 'code-desc', class: 'sorting hide' %><%= link_to '^', 'javascript:void(0)', id: 'code-asc', class: 'sorting' %>
                    </th>
                    <th>
                      From <%= link_to 'v', 'javascript:void(0)', id: 'origin_branch_name-desc', class: 'sorting hide' %><%= link_to '^', 'javascript:void(0)', id: 'origin_branch_name-asc', class: 'sorting' %>
                    </th>
                    <th>
                      Destination <%= link_to 'v', 'javascript:void(0)', id: 'destination_branch_name-desc', class: 'sorting hide' %><%= link_to '^', 'javascript:void(0)', id: 'destination_branch_name-asc', class: 'sorting' %>
                    </th>
                    <th>
                      By <%= link_to 'v', 'javascript:void(0)', id: 'receiver_name-desc', class: 'sorting hide' %><%= link_to '^', 'javascript:void(0)', id: 'receiver_name-asc', class: 'sorting' %>
                    </th>
                    <th>
                      Delivery Orders Number <%= link_to 'v', 'javascript:void(0)', id: 'no_surat_jalan-desc', class: 'sorting hide' %><%= link_to '^', 'javascript:void(0)', id: 'no_surat_jalan-asc', class: 'sorting' %>
                    </th>
                    <th>
                      Status <%= link_to 'v', 'javascript:void(0)', id: 'status-desc', class: 'sorting hide' %><%= link_to '^', 'javascript:void(0)', id: 'status-asc', class: 'sorting' %>
                    </th>
                  </tr>
                  <tr>
                    <th></th>
                    <th class="hasinput">
                      <%= text_field_tag :tanggal, params[:tanggal], class: 'form-control search' %>
                    </th>
                    <th class="hasinput">
                      <%= text_field_tag :code, params[:code], class: 'form-control search' %>
                    </th>
                    <th class="hasinput">
                      <%= text_field_tag :origin_branch_name, params[:origin_branch_name], class: 'form-control search' %>
                    </th>
                    <th class="hasinput">
                      <%= text_field_tag :destination_branch_name, params[:destination_branch_name], class: 'form-control search' %>
                    </th>
                    <th class="hasinput">
                      <%= text_field_tag :receiver_name, params[:receiver_name], class: 'form-control search' %>
                    </th>
                    <th class="hasinput">
                      <%= text_field_tag :no_surat_jalan, params[:no_surat_jalan], class: 'form-control search' %>
                    </th>
                    <th class="hasinput">
                      <%= text_field_tag :status, params[:status], class: 'form-control search' %>
                    </th>
                  </tr>
                </thead>
                <tbody id='receive_product-list'><%= render 'receive_product_list' %></tbody>
              </table>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>