<tr class="alert alert-info alert-block">
  <div class="nested-fields addform clearfix">
    <td>
      <label class="col-md-10 input custom-input-box">
        <%= hidden_field_tag "promotion[prize_lists_attributes][#{key}][product_id]", (object[:product_id] rescue ''), class: "product_id" %>
        <button type="button" class="btn btn-sm btn-primary btn-circle" onclick="select_product_manual('<%=key%>')" id="btn_<%=key%>"><i class="glyphicon glyphicon-list"></i></button>
        <span id="article_<%=key%>"><%= Product.find(object.product_id).article if params[:action] == 'edit' %></span>
      </label>
    </td>
    <td>
      <label class="col-md-12 input custom-input-box">
        <span id="product_name_<%=key%>"><%= Product.find(object.product_id).description if params[:action] == 'edit' %></span>
      </label>
    </td>
    <td>
      <label class="col-md-12 input custom-input-box">
        <span id="unit_name_<%=key%>"><%= Sku.find_by_barcode(Product.find(object.product_id).barcode).unit.name if params[:action] == 'edit' %></span>
      </label>
    </td>
    <td id="td_pl_hpp_<%=key%>">
      <label class="col-md-12">
        <span id="hpp_price_<%=key%>">Rp.<%= Product.find(object.product_id).selling_prices.last.hpp rescue 0 if params[:action] == 'edit' %></span>
      </label>
    </td>
    <td id="td_pl_sp_<%=key%>">
      <label class="col-md-12">
        <span id="sell_price_<%=key%>">Rp.<%= Product.find(object.product_id).selling_prices.last.selling_price rescue 0 if params[:action] == 'edit' %></span>
      </label>
    </td>
    <td id="td_pl_disc_amt_<%=key%>">
      <label class="col-md-12 input custom-input-box">
        <%= text_field_tag "promotion[prize_lists_attributes][#{key}][disc_amt]", (object.disc_amt rescue ''), class: "input-sm" %>
      </label>
    </td>
    <td id="td_pl_min_qty_<%=key%>">
      <label class="col-md-12 input custom-input-box">
        <%= text_field_tag "promotion[prize_lists_attributes][#{key}][min_qty]", (object.min_qty rescue ''), class: "input-sm" %>
      </label>
    </td>
    <td id="td_pl_qty_<%=key%>">
      <label class="col-md-12 input custom-input-box">
        <%= text_field_tag "promotion[prize_lists_attributes][#{key}][max_qty]", (object.max_qty rescue ''), class: "input-sm" %>
      </label>
    </td>
    <td id="td_pl_prize_promo_<%=key%>">
      <label class="col-md-12 input custom-input-box">
        <%= text_field_tag "promotion[prize_lists_attributes][#{key}][prize_promo]", (object.prize_promo rescue ''), class: "input-sm" %>
      </label>
    </td>
    <td><a class="close btn btn-default btn-xs" data-dismiss="alert" href="#"><i class="fa fa-times"></i></a></td>
  </div>
</tr>
