<div class="nested-fields" style="padding-bottom: 10px;">
  <tr>
    <td></td>
    <td><%= f.text_field :department_id %></td>
    <td><%= f.text_field :mclass_id %></td>
    <td><%= f.text_field :brand_id %></td>
    <td><%= f.text_field :article_id %></td>
    <td><%= f.number_field :max_qty %></td>
    <td><%= link_to_remove_association "Remove file", f %></td>
  </tr>
</div>