<script src="/js/jquery-2.1.1.min.js"></script><!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Master Data</li><li>Office</li><li><%= @head_office.office_name %></li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-supplier">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2><%= @head_office.office_name %></h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
            <%= form_for @head_office, html: {class: "smart-form", id: "form-update-verify"} do |f| %>
              <fieldset> <!-- tambah supplier -->
                <div class="row">
                  <section class="col col-md-6">
                    <section class="form-group">
                      <label class="col-md-4 label">Code</label>
                      <label class="col-md-8 input custom-input-box"><%= @head_office.code %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-4 label">Name</label>
                      <label class="col-md-8 textarea custom-input-box"><%= @head_office.office_name %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-4 label">Regional</label>
                      <label class="col-md-8 input custom-input-box"><%= @head_office.regional.name rescue '' %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-4 label">Branch</label>
                      <label class="col-md-8 input custom-input-box">
                        <%= @head_office.city.name rescue '' %>
                      </label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-4 label">Area</label>
                      <label class="col-md-8 input custom-input-box">
                        <%= @head_office.area.name rescue '' %>
                        </label>
                    </section><br>
                  </section>
                  <section class="col col-md-6">
                    <section class="form-group">
                      <label class="col-md-2 label">Telp. Number</label>
                      <label class="col-md-10 input custom-input-box"><%= @head_office.phone_number %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-2 label">Email</label>
                      <label class="col-md-10 input custom-input-box"><%= @head_office.email %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-2 label">Description</label>
                      <label class="col-md-10 input custom-input-box"><%= @head_office.description %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-2 label">Status</label>
                      <label class="col-md-10 input custom-input-box"><%= @head_office.is_active ? "Active" : "Non-Active" %></label>
                    </section><br>
                  </section><br>
                </div>
              </fieldset>
              <fieldset>
                <section class="col col-md-6">
                  <section class="form-group">
                      <label class="col-md-2 label">Province</label>
                      <label class="col-md-10 input custom-input-box"><%= @head_office.province %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-2 label">City</label>
                      <label class="col-md-10 input custom-input-box"><%= @head_office.city_name %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-2 label">Districts</label>
                      <label class="col-md-10 input custom-input-box"><%= @head_office.districts %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-2 label">Zip Code</label>
                      <label class="col-md-10 input custom-input-box"><%= @head_office.zip_code %></label>
                    </section><br>
                </section>
                <section class="col col-md-6">
                  <section class="form-group">
                      <label class="col-md-2 label">Address</label>
                      <label class="col-md-10 input custom-input-box"><%= @head_office.address %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-2 label">RT</label>
                      <label class="col-md-2 input custom-input-box"><%= @head_office.rt %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-2 label">RW</label>
                      <label class="col-md-10 input custom-input-box"><%= @head_office.rw %></label>
                    </section><br>
                    <section class="form-group">
                      <label class="col-md-2 label">Village</label>
                      <label class="col-md-10 input custom-input-box"><%= @head_office.village %></label>
                    </section><br>
                </section>
              </fieldset>
              <footer>
                <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
              </footer>
            <% end %>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
