<% is_m_class = m_class.present? && m_class.parent_id.present? %>
<%= render partial: "products/edit_product_m_class", locals: {i: i+1, m_class: m_class.m_class} if is_m_class %>
<% if m_class.parent_id.present? %>
  <section class="form-group" id='mclass<%= i %>'>
    <label class="col-md-4 label">Category <%= m_class.level %><span class='important'>*</span></label>
    <label class="col-md-8 input custom-input-box">
      <%= text_field_tag "m_class", m_class.name, class: "m_class input-sm autocomplete-field", placeholder: "Select or type to autocomplete", id: "m_class_#{m_class.level}" %>
      <a class="ui-button ui-widget ui-state-default ui-button-icon-only custom-combobox-toggle ui-corner-right" tabindex="-1">
        <span class="ui-button-icon-primary ui-icon ui-icon-triangle-1-s"></span><span class="ui-button-text"></span>
      </a>
      <ul style="display: none; width: 100%; top: 29px;" tabindex="0" id="ui-id-1" class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content">
        <% @m_classes.each{|m_class| %>
          <li tabindex="-1" id="ui-id-2" class="ui-menu-item" onclick="reload_mclass(<%= i.to_i %>, $(this).html())">
            <%= m_class.name %>
          </li>
        <% } %>
      </ul>
    </label>
    <!-- <button id='dmclass<%= i %>', href="javascript:void(0)" onclick="mundur(<%= i.to_i %>);"><i class='fa fa-trash-o'></i></button> -->
    <%=link_to 'Del', 'javascript:void(0)', onclick:"mundur(#{i})" %>
  </section>
<% end %>
