<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
      </button>
      <h4 class="modal-title" id="myModalSupplier">Supplier</h4>
    </div>
    <div class="modal-body" style="color:#5E5E5E">
      <table class="table table-striped table-bordered table-hover" width="100%">
        <thead>
        <tr>
          <th>No</th>
          <th>
            Article
            <span style="float: right;">
              <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'code-desc', class: 'sorting hide' %>
              <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'code-asc', class: 'sorting' %>
            </span>
          </th>
          <th>
            Barcode
            <span style="float: right;">
              <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'date-desc', class: 'sorting hide' %>
              <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'date-asc', class: 'sorting' %>
            </span>
          </th>
          <th>
            Product Name
            <span style="float: right;">
              <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'supplier_name-desc', class: 'sorting hide' %>
              <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'supplier_name-asc', class: 'sorting' %>
            </span>
          </th>
          <th>Actions</th>
          </tr>
          <tr>
            <th></th>
            <th class="hasinput"><%= text_field_tag :article, params[:article], class: 'form-control search_su', onchange: "reload_products();" %></th>
            <th class="hasinput"><%= text_field_tag :barcode, params[:barcode], class: 'form-control search_su', onchange: "reload_products();" %></th>
            <th class="hasinput"><%= text_field_tag :description, params[:description], class: 'form-control search_su', onchange: "reload_products();" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody id='product-list'><%= render 'modal_product_list' %></tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script type="text/javascript">
function reload_products(){
  $.ajax({
    url: "/products/search_products?&article="+($('#article').length == 1 ? $('#article').val() : '')+
      "&barcode="+($('#barcode').length == 1 ? $('#barcode').val() : '')+
      "&description="+($('#description').length == 1 ? $('#description').val() : ''),
    method: "get",
    data: {
      },
      dataType: "script"
  })
}
</script>
