<link rel="stylesheet" href="/css/jquery-ui.css">
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery-ui.js"></script>
<style>
  .nowrap {
    white-space: normal !important;
  }
</style>
<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Master Data</li><li>Supplier</li><li>List</li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <section id="widget-grid" class=""><!-- widget grid -->
    <div id='notice_template'><%= render 'layouts/notice' %></div>
    <div class="row"><!-- row -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- NEW WIDGET START -->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false"><!-- Widget ID (each widget will need unique ID)-->
          <header id="header-product" role="heading">
          <h2><span class="widget-icon"> <i class="fa fa-list-ul"></i> </span> <%= t(:supplier_list) %></h2> <!-- header content --></header>
          <div><!-- widget div-->
            <div class="widget-body no-padding"><!-- widget content -->
              <% if current_user.can_manage_supplier? %>
                <%= link_to new_supplier_url, :class => "btn btn-labeled btn-primary edit-btn-primary" do %>
                  <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span><%= t(:add_supplier) %>
                <% end %>
              <% end %>
              <ul id="myTab1" class="nav nav-tabs" style='margin: 20px 0 6px 6px; float: left'>
                <li class="dropdown">
                  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i></button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Export to CSV",  suppliers_path(:id => params[:id], format: "csv"), id: "export_to_csv" %></li>
                    <li><%= link_to "Export to Excel", suppliers_path(:id => params[:id], format: "xls"), id: "export_to_xls" %></li>
                    <li data-toggle="modal" data-target="#myModal" style='cursor: pointer'><a>Import from CSV</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <table class="table table-striped table-bordered" width="100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th class='nowrap'>
                    Code
                    <%= link_to raw("<i class='fa fa-sort-desc'></i>"), 'javascript:void(0)', id: 'code-desc', class: 'sorting hide' %>
                    <%= link_to raw("<i class='fa fa-sort-asc'></i>"), 'javascript:void(0)', id: 'code-asc', class: 'sorting' %>
                  </th>
                  <th>
                    Name
                    <span style="float: right;">
                      <%= link_to raw("<i class='fa fa-sort-desc'></i>"), 'javascript:void(0)', id: 'name-desc', class: 'sorting hide' %>
                      <%= link_to raw("<i class='fa fa-sort-asc'></i>"), 'javascript:void(0)', id: 'name-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    Address
                    <span style="float: right;">
                    <%= link_to 'javascript:void(0)', id: 'address-desc', class: 'sorting hide' do %><i class="fa fa-sort-desc"></i><% end %>
                    <%= link_to 'javascript:void(0)', id: 'address-asc', class: 'sorting' do %><i class="fa fa-sort-asc"></i><% end %>
                    </span>
                  </th>

                  <th>
                    City
                    <span style="float: right;">
                    <%= link_to 'javascript:void(0)', id: 'city-desc', class: 'sorting hide' do %><i class="fa fa-sort-desc"></i><% end %>
                    <%= link_to 'javascript:void(0)', id: 'city-asc', class: 'sorting' do %><i class="fa fa-sort-asc"></i><% end %>
                    </span>
                  </th>

                  <th>
                    Telephone
                    <span style="float: right;">
                    <%= link_to 'javascript:void(0)', id: 'phone-desc', class: 'sorting hide' do %><i class="fa fa-sort-desc"></i><% end %>
                    <%= link_to 'javascript:void(0)', id: 'phone-asc', class: 'sorting' do %><i class="fa fa-sort-asc"></i><% end %>
                    </span>
                  </th>

                  <th>
                    Fax
                    <span style="float: right;">
                    <%= link_to 'javascript:void(0)', id: 'fax-desc', class: 'sorting hide' do %><i class="fa fa-sort-desc"></i><% end %>
                    <%= link_to 'javascript:void(0)', id: 'fax-asc', class: 'sorting' do %><i class="fa fa-sort-asc"></i><% end %>
                    </span>
                  </th>

                  <th>
                    Due Date
                    <span style="float: right;">
                    <%= link_to 'javascript:void(0)', id: 'long_term-desc', class: 'sorting hide' do %><i class="fa fa-sort-desc"></i><% end %>
                    <%= link_to 'javascript:void(0)', id: 'long_term-asc', class: 'sorting' do %><i class="fa fa-sort-asc"></i><% end %>
                    </span>
                  </th>

                  <th>
                    Status PKP
                    <span style="float: right;">
                    <%= link_to 'javascript:void(0)', id: 'status_pkp-desc', class: 'sorting hide' do %><i class="fa fa-sort-desc"></i><% end %>
                    <%= link_to 'javascript:void(0)', id: 'status_pkp-asc', class: 'sorting' do %><i class="fa fa-sort-asc"></i><% end %>
                    </span>
                  </th>

                  <% if current_user.can_manage_supplier? %>
                    <th>Action</th>
                  <% end %>

                </tr>
                <tr>
                  <th></th>
                  <th class="hasinput"><%= text_field_tag :code, params[:code], class: 'form-control search' %></th>
                  <th class="hasinput"><%= text_field_tag :name, params[:name], class: 'form-control search' %></th>
                  <th class="hasinput"><%= text_field_tag :address, params[:address], class: 'form-control search' %></th>
                  <th class="hasinput"><%= text_field_tag :city, params[:city], class: 'form-control search' %></th>
                  <th class="hasinput"><%= text_field_tag :phone, params[:phone], class: 'form-control search' %></th>
                  <th class="hasinput"><%= text_field_tag :fax, params[:fax], class: 'form-control search' %></th>
                  <th class="hasinput"><%= text_field_tag :long_term, params[:long_term], class: 'form-control search', name: "trim(to_char(long_term, '99D'))" %></th>
                  <th></th>
                  <% if current_user.can_manage_supplier? %>
                    <th></th>
                  <% end %>
                </tr>
              </thead>
              <tbody id='supplier-list'><%= render 'supplier_list' %></tbody>
            </table>
          </div><!-- end widget content -->
        </div><!-- end widget -->
      </article><!-- WIDGET END -->
    </div><!-- end row -->
  </section><!-- end widget grid -->
</div><!-- end row -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Import Supplier</h4>
      </div>
      <div class="modal-body">
        <%= form_tag import_suppliers_path(:id => params[:id]), multipart: true do %>
          <%= file_field_tag :file, accept: ".csv", onchange: "checkfile(this);" %>
      </div>
      <div class="modal-footer">
        <%= link_to "Download Template", "/suppliers_template.csv", :class => "btn btn-success" %>
        <%= submit_tag "Import", :class => "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  window.reset = function (e) {
    e.wrap('<form>').closest('form').get(0).reset();
    e.unwrap();
  }
});
function checkfile(sender) {
    var validExts = new Array(".csv");
    var fileExt = sender.value;
    fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
    if (validExts.indexOf(fileExt) < 0) {
      alert("This is not a csv file");
      reset($("#file"));
      return false;
    }
    else return true;
};
</script>