<% outstanding = [] %>
<style type="text/css">
  .label{
    color: #151313;
  }
</style>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
      </button>
      <h4 class="modal-title" id="myModalLabel">Size Detail</h4>
    </div>
    <div class="modal-body" style="color:#5E5E5E">
      <div class="row">
        <section class="col col-md-4">
          <section>
            <label class="col-md-2 label">CODE</label>
            <label class="col-md-10 input custom-input-box"><%= text_field_tag :barcode, product.barcode , :class => "input-sm", disabled: true %></label>
          </section>
          <section>
            <label class="col-md-2 label">BRAND </label>
            <label class="col-md-10 input custom-input-box"><%= text_field_tag :merk, product.brand.name, :class => "input-sm", disabled: true %></label>
          </section>
          <section>
            <label class="col-md-2 label">ARTICLE </label>
            <label class="col-md-10 input custom-input-box"><%= text_field_tag :article, product.article, :class => "input-sm", disabled: true %></label>
          </section>
          <section>
            <label class="col-md-2 label">DEPT </label>
            <label class="col-md-10 input custom-input-box"><%= text_field_tag :departement, product.m_class.name, :class => "input-sm", disabled: true %></label>
          </section>
          <section>
            <label class="col-md-2 label">CATEGORY </label>
            <label class="col-md-10 input custom-input-box"><%= text_field_tag :m_class, (product.brand.department.name unless product.brand.department.nil?), :class => "input-sm", disabled: true %></label>
          </section>
          <section>
            <label class="col-md-2 label">DISC % </label>
            <label class="col-md-2 input custom-input-box"><%= text_field_tag :disc1, product.margin_percent1, :class => "input-sm", disabled: true %></label>
            <label class="col-md-2 input custom-input-box"><%= text_field_tag :disc2, product.margin_percent2, :class => "input-sm", disabled: true %></label>
            <label class="col-md-2 input custom-input-box"><%= text_field_tag :disc3, product.margin_percent3, :class => "input-sm", disabled: true %></label>
            <label class="col-md-2 input custom-input-box"><%= text_field_tag :disc4, product.margin_percent4, :class => "input-sm", disabled: true %></label>
            <label class="col-md-2 input custom-input-box"><%= text_field_tag :disc5, product.margin_rp , :class => "input-sm", disabled: true %></label>
          </section>
        </section>
        <section class="col col-md-4">
          <section>
            <label class="col-md-2 label">COST OF GOODS</label>
            <label class="col-md-10 input custom-input-box"><%= text_field_tag :harga_pokok, product.cost_of_products, class: "input-sm", disabled: true %></label>
          </section>
          <section>
            <label class="col-md-2 label">SELLING PRICE </label>
            <label class="col-md-10 input custom-input-box"><%= text_field_tag :harga_jual, product.purchase_price, :class => "input-sm", disabled: true %></label>
          </section>
          <section>
            <label class="col-md-2 label">PURCHASE PRICE </label>
            <label class="col-md-10 input custom-input-box"><%= text_field_tag :harga_beli, product.selling_price, :class => "input-sm", disabled: true %></label>
          </section>
          <section>
            <label class="col-md-2 label">STATUS 2 </label>
            <label class="col-md-10 input custom-input-box"><%= text_field_tag :status2, product.status2, :class => "input-sm", disabled: true %></label>
          </section>
          <section>
            <label class="col-md-2 label">STATUS 3 </label>
            <label class="col-md-10 input custom-input-box"><%= text_field_tag :status3, product.status3, :class => "input-sm", disabled: true %></label>
          </section>
          <section>
            <label class="col-md-2 label">STATUS 4 </label>
            <label class="col-md-10 input custom-input-box"><%= text_field_tag :status4, product.status4, :class => "input-sm", disabled: true %></label>
          </section>
        </section>
        <section class="col col-md-4"><%= image_tag product.image, width: '250px', height: '250px' %></section>
        <section class="col col-md-12">
          <label class="col-md-12 input custom-input-box">
            <table class="table table-striped table-bordered" id="table_size">
              <tbody>
                <% if @purchase_order.present? %>
                  <tr>
                    <th>Purchased Quantity</th>
                    <% product_sizes.each_with_index do |product_size, i| %>
                      <td>
                        <%= quantities[i] %>
                        <%= hidden_field_tag "receiving[receiving_details_attributes][#{key}#{i}][product_size_id]", product_size.id %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
                <% @received_products.each_with_index{|receive, idx| %>
                  <% received_qty = ReceivingDetail.where(receiving_id: receive.id, product_size_id: product_sizes.map(&:id)).sort_by{|p|p.product_size.size_detail.size_number} %>
                  <tr>
                    <th><%= hierarchy idx+1 %> Received</th>
                    <td colspan=5> Received Date: <%= receive.date %></td>
                  </tr>
                  <tr>
                    <th>Received <%= idx+1 %></th>
                    <% received_qty.each do |rd| %>
                      <td><%= rd.quantity %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <th>Outstanding</th>
                    <% received_qty.each_with_index do |rd, i| %>
                      <% @quantities["#{idx}#{i}"] = @quantities["#{idx-1}#{i}"].to_i + rd.quantity.to_i %>
                      <% outstanding << (quantities[i].to_i - @quantities["#{idx}#{i}"] > 0 ? quantities[i].to_i - @quantities["#{idx}#{i}"] : 0) if idx == @received_products.size-1 %>
                      <td><%= quantities[i].to_i - @quantities["#{idx}#{i}"] > 0 ? quantities[i].to_i - @quantities["#{idx}#{i}"] : 0 %></td>
                    <% end %>
                  </tr>
                <% } if @received_products.present? %>
                <tr>
                  <th>Received Quantity</th>
                  <% product_sizes.each_with_index do |product_size, product_size_i| %>
                    <td>
                      <%= text_field_tag "receiving[receiving_details_attributes][#{key}#{product_size_i}][quantity]",
                        @received_products.present? ? outstanding[product_size_i] : quantities[product_size_i], style: 'width: 35px' %>
                      <%= hidden_field_tag "receiving[receiving_details_attributes][#{key}#{product_size_i}][product_size_id]", product_size.id %>
                    </td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </label>
        </section>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
