<% @receiving.update_attributes(has_printed: true) %>
<%= wicked_pdf_stylesheet_link_tag "pdf.css" -%>
<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Goods Receipt Note
          </h2>
        </header>
        <div> <!-- widget div-->
          <div class="widget-body no-padding"> <!-- widget content -->
            <div class="row">
              <table id="table-info">
                <tr>
                  <td><label>Receipt Date</label>:<span><%= @receiving.date %></span></td>
                  <td></td>
                  <td><label>Name</label>:<span><%= @receiving.head_office.office_name rescue ''%></span></td>
                </tr>
                <tr>
                  <td><label>Receipt No</label>:<span><%= @receiving.number %></span></td>
                  <td></td>
                  <td><label>Code</label>:<span><%= @receiving.head_office.code %></span></td>
                </tr>
                <tr>
                  <td><label>Invoice No</label>:<span><%= @receiving.consigment_number %></span></td>
                  <td></td>
                  <td><label>SUPP. CODE</label>:<span><%= @supplier.code rescue '' %></span></td>
                </tr>
                <tr>
                  <td><label>Remark</label>:<span><%= @receiving.note %></span></td>
                  <td></td>
                  <td><label>SUPP. NAME</label>:<span><%= @supplier.name rescue '' %></span></td>
                </tr>
                <tr>
                  <td><label>PO Date</label>:<span><%= @purchase_order.date rescue '-' %></span></td>
                </tr>
                <tr>
                  <td><label>PO Number</label>:<span><%= @purchase_order.number rescue '-' %></span></td>
                </tr>
              </table>
            </div>
            <br/>
            <section class="col col-md-12">
              <div class="row">
                <table class="table" border="1" width="100%" id="orders">
                  <thead>
                    <tr>
                      <th>ARTICLE</th>
                      <th>DESCRIPTION</th>
                      <th>HARGA SATUAN</th>
                      <th>QUANTITY</th>
                      <th>UoM</th>
                      <th>DPP</th>
                      <th>PPN</th>
                      <th>TOTAL PRICE</th>
                    </tr>
                  </thead>
                  <tbody id='list_detail'>
                    <% grand_total, total_ppn = 0, 0 %>
                    <% @receiving.receiving_details.where("quantity>0").each do |prd| %>
                      <% product = prd.product %>
                      <% total = prd.hpp*prd.quantity %>
                      <% ppn = prd.hpp*prd.quantity*0.1 %>
                      <tr>
                        <td><%= product.article rescue '' %></td>
                        <td><%= product.description rescue '' %></td>
                        <td style='text-align: right; padding-right: 21px'><%= format_currency prd.hpp %></td>
                        <td style='text-align: right; width: 21px; padding-right: 21px'><%= prd.quantity %></td>
                        <td style='text-align: center;'><%= prd.unit_type %></td>
                        <td style='text-align: right; padding-right: 21px'><%= format_currency prd.hpp*prd.quantity %></td>
                        <td style='text-align: right; padding-right: 21px'><%= format_currency ppn %></td>
                        <td style='text-align: right; padding-right: 21px'><%= format_currency prd.quantity*prd.hpp*1.1 %></td>
                      </tr>
                      <% grand_total += total %>
                      <% total_ppn += ppn if product.flag_pajak == 'BKP' && @receiving.supplier.status_pkp %>
                    <% end %>
                    <tr>
                      <td class="noborder" colspan=6></td>
                      <td>Total</td>
                      <td style='text-align: right; padding-right: 21px'><%= format_currency grand_total %></td>
                    </tr>
                    <% if @receiving.supplier.status_pkp %>
                      <tr>
                        <td class="noborder" colspan=6></td>
                        <td>PPN</td>
                        <td style='text-align: right; padding-right: 21px'><%= format_currency total_ppn %></td>
                      </tr>
                    <% end %>
                    <tr>
                      <td class="noborder" colspan=6></td>
                      <td>Grand Total</td>
                      <td style='text-align: right; padding-right: 21px'><%= format_currency grand_total + total_ppn %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <section class="col col-md-12">
              <div class="row">
              <table id="table-info">
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr>
                  <td>DELIVERED BY</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>RECEIVED BY</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><label>(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</label></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><label>(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</label></td>
                </tr>
              </table>
              <table id="table-info">
                <tr>
                  <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td><label>Print By</label>:<span><%= current_user.fullname %></span></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td><label>Date</label>:<span><%= Time.now.strftime('%Y-%m-%d %H:%M:%d') %></span></td>
                </tr>
              </table>
              </div>
            </section>
          </div><!-- end widget content -->
        </div><!-- end widget div -->
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div><!-- end widget div -->
</div><!-- end widget div -->
<style>
td, th {
  font-size: 11px;
}
</style>
