<script src="/js/jquery.min.js"></script><!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Master Data</li><li>Member Level</li><li><%= @member_level.description %></li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-supplier">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2><%= @member_level.description %></h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
            <%= form_for @member_level, html: {class: "smart-form", id: "form-update-verify"} do |f| %>
              <fieldset>
                <div class="row">
                  <section class="col col-md-6">
                    <section>
                      <label class="col-md-3 label">Level</label>
                      <label class="col-md-9 input custom-input-box">
                        <%= @member_level.level %>
                      </label>
                    </section><br>
                    <section>
                      <label class="col-md-3 label">Description</label>
                      <label class="col-md-9 input custom-input-box"><%= @member_level.description %></label>
                    </section><br>
                    <section>
                      <label class="col-md-3 label">Minimum Ammount</label>
                      <label class="col-md-9 input custom-input-box"><%= @member_level.minimum_amount %></label>
                    </section><br>
                    <section>
                      <label class="col-md-3 label">Discount Percent</label>
                      <label class="col-md-9 input custom-input-box"><%= @member_level.discount_percent %></label>
                    </section>
                  </section> <!-- col-md-12 -->
                </div> <!-- row -->
              </fieldset>
              <footer>
                <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
              </footer>
            <% end %>
          </div><!-- end widget content -->
        </div><!-- end widget div -->
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div><!-- end widget div -->
</div><!-- end widget div -->
