<% if @products.present? %>
<% @products.each_with_index do |product, i| %>
  <tr>
    <td><%= params[:page] ? (params[:page].to_i*10+i-9) : i+1 %></td>
    <td><%= product.article %></td>
    <td><%= product.barcode %></td>
    <td><%= product.description %></td>
    <td><%= product.brand.name rescue '' %></td>
    <td><%= product.department.name rescue '' %></td>
    <td><%= product.m_class.name rescue '' %></td>
  </tr>
<% end %>
<% end %>
<tr>
  <td colspan=7>
    <% if @products.present? %>
      <div class="dataTables_paginate paging_simple_numbers" id="dt_basic_paginate">
        <%= pagination_links(@products, options = {}) %>
      </div>
    <% else %>
      <%= raw '<center>No Data Available</center>' %>
    <% end %>
  </td>
</tr>
