<link rel="stylesheet" href="/css/jquery-ui.css">
<script src="/js/jquery-1.10.2.js"></script>
<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Reports</li><li>Cashier</li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-product">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2>Cashier Report</h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
              <ul id="myTab1" class="nav nav-tabs" style='margin: 20px 0 6px 6px; float: left'>
                <li class="dropdown">
                  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i></button>
                  <ul class="dropdown-menu" >
                    <li style="color:'black';"><%= link_to "Export to Excel", "/reports/cashier.xls" %></li>
                  </ul>
                </li>
              </ul>

            <div class="row">
              <section class="col col-md-12">
                <h1></h1>
              </section>
            </div>
            <form class='smart-form' url="/products/stock">
              <section class="col col-md-12">
                <table class="table table-striped table-bordered" width="100%">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Date
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'ss_created_at-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'ss_created_at-asc', class: 'sorting' %>
                        </span>
                      </th>
                      <th>Shift
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'session-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'session-asc', class: 'sorting' %>
                        </span>
                      </th>
                      <th>Komp
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'machine_id-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'machine_id-asc', class: 'sorting' %>
                        </span>
                      </th>
                      <th>Start
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'start_time-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'start_time-asc', class: 'sorting' %>
                        </span>
                      </th>
                      <th>End
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'end_time-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'end_time-asc', class: 'sorting' %>
                        </span>
                      </th>
                      <th>Cashier Name
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'username-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'username-asc', class: 'sorting' %>
                        </span>
                      </th>
                      <th>Total Receipt
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'sales_count-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'sales_count-asc', class: 'sorting' %>
                        </span>
                      </th>
                      <th>Capital
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'start_amount-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'start_amount-asc', class: 'sorting' %>
                        </span>
                      </th>
                      <th>Debit
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'debit-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'debit-asc', class: 'sorting' %>
                        </span>
                      </th>
                      <th>Credit
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'credit-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'credit-asc', class: 'sorting' %>
                        </span>
                      </th>
                      <th>Cash
                        <span style="float: right;">
                          <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'cash-desc', class: 'sorting hide' %>
                          <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'cash-asc', class: 'sorting' %>
                        </span>
                      </th>
                    </tr>
                    <tr>
                      <th class="hasinput"></th>
                      <th class="hasinput"><%= text_field_tag :created_at, params[:created_at], class: 'form-control search', name: "to_char(sod_eods.created_at, 'DD-MM-YYYY')" %></th>
                      <th class="hasinput"><%= text_field_tag :session, params[:session], class: 'form-control search', name: "to_char(session, '999')" %></th>
                      <th class="hasinput"><%= text_field_tag :machine_id, params[:machine_id], class: 'form-control search' %></th>
                      <th class="hasinput"><%= text_field_tag :start_time, params[:start_time], class: 'form-control search', name: "to_char(start_time, 'HH24:MI')" %></th>
                      <th class="hasinput"><%= text_field_tag :end_time, params[:end_time], class: 'form-control search', name: "to_char(end_time, 'HH24:MI')" %></th>
                      <th class="hasinput"><%= text_field_tag :username, params[:username], class: 'form-control search', name: "concat(first_name, ' ', last_name)" %></th>
                      <th class="hasinput"></th>
                      <th class="hasinput"></th>
                      <th class="hasinput"></th>
                      <th class="hasinput"></th>
                      <th class="hasinput"></th>
                    </tr>
                  </thead>
                  <tbody id='cashier-list'><%= render 'cashier_list' %></tbody>
                </table>
              </section>
            </form> <!-- tambah product -->
          </div><!-- end widget content -->

        </div><!-- end widget div -->
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div><!-- end widget div -->
</div><!-- end widget div -->

<SCRIPT>
  function filter_stock(){
    $.ajax(
    {
      url: "/products/stock",
      dataType: "script",
      data: $("form").serialize(),
      success: function (data){
        response(data)
      },
    });
  }

  $(document).ready(function() {
    $("#search_brand").autocomplete({
      search: function () {},
      source: function (request, response)
      {
        $.ajax(
        {
          url: "/brands/autocomplete_brand_name",
          dataType: "json",
          data: {term: request.term},
          success: function (data){
            response(data)
          }
        });
      },
      minLength: 1
    });
    $("#supplier_name").autocomplete({
      search: function () {},
      source: function (request, response)
      {
        $.ajax(
        {
          url: "/suppliers/autocomplete_supplier_name",
          dataType: "json",
          data: {term: request.term},
          success: function (data){
            response(data)
          }
        });
      },
      minLength: 1
    });
  })
</SCRIPT>
