<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Bank Name</Data></Cell>
        <Cell><Data ss:Type="String">Branch</Data></Cell>
        <Cell><Data ss:Type="String">EDC Machine</Data></Cell>
        <Cell><Data ss:Type="String">Account Number</Data></Cell>
        <Cell><Data ss:Type="String">Owner</Data></Cell>
      </Row>
    <% EdcMachine.all.each do |colour| %>
      <Row>
        <Cell><Data ss:Type="String"><%= colour.bank_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= colour.branch %></Data></Cell>
        <Cell><Data ss:Type="String"><%= colour.edc_serial_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= colour.account_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= colour.owner %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>