<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Master Data</li><li>Location</li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-department">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2> Location</h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
            <%= form_for @location, html: {class: "smart-form", id: "form-update-verify"} do |f| %>
              <%= hidden_field_tag :tobe_deleted %>
              <fieldset>
                <div class="row">
                  <section class="col col-md-6">
                    <label class="col-md-2 label">Code</label>
                    <label class="col-md-9 input custom-input-box"><%= f.text_field :code, :class => "input-sm", readonly: true %></label>
                  </section>
                  <section class="col col-md-6">
                  <section class="form-group">
                    <label class="col-md-3 label">Province <span class='important'>*</span></label>
                    <label class="col-md-8 input custom-input-box">
                      <!-- <%= f.select :id, options_for_select(@provinces.map{|province|[province.name, province.id]}, selected: @location.id), {include_blank: 'Please Select'},
                          {class: 'form-control'} %> -->
                      <%= f.select :province_id, options_for_select(@provinces.map{|province|[province.name, province.id]}, selected: @location.parent_id), {include_blank: 'Please Select'},
                              {class: 'form-control'} %>
                    </label>
                  </section>
                    <label class="col-md-3 label">City/District <span class='important'>*</span></label>
                    <label class="col-md-8 input custom-input-box"><%= f.text_field :name, :class => "input-sm" %></label>
                    <%= f.hidden_field :jenis, value: "kota/kabupaten" %>
                  </section>
                  <%= link_to 'Add detail', 'javascript:void(0)', onclick: "add_sub_type(2, '2-#{0}')", id: "2-0", class: 'btn btn-primary btn-sm marginL15px' %>
                </div> <!-- row -->
                <header>City/District Detail</header>
                <div id='level2'>
                  <% @location.locations.each{|location| %>
                    <%= render partial: 'sub_type', locals: {jenis: 'kelurahan', level: 2, key: "#{Time.now.to_i}#{location.id}", parent: '', location: Location} %>
                  <% } %>
                <div>
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
                <button type="button" class="btn btn-default" onclick="window.history.back();">
                  Back
                </button>
              </footer>
            <% end %>
          </div><!-- end widget content -->
        </div><!-- end widget div -->
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div><!-- end widget div -->
</div><!-- end widget div -->

<SCRIPT>
  function add_sub_type(level, id, parent, location_id){
    var date = new Date();
    $.ajax({
      url: '/locations/add_sub_type',
      data: {
        key: date.getDay() + ""+date.getMonth() + "" + date.getFullYear() + "" + date.getHours() + "" + date.getMinutes() + "" + date.getSeconds(), level: level, id: id, parent: parent, location_id: location_id
      }
    })
  }
</SCRIPT>
