s<script src="/js/jquery.min.js"></script><!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Master Data</li><li>Location</li><li><%= @location.name %></li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-supplier">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2><%= @location.name %></h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
            <%= form_for @location, html: {class: "smart-form", id: "form-update-verify"} do |f| %>
              <fieldset>
                <div class="row">
                  <section class="col col-md-6">
                    <label class="col-md-3 label">Code</label>
                    <label class="col-md-8 input custom-input-box"><%= @location.code %></label><br>
                    <label class="col-md-3 label">Jenis</label>
                    <label class="col-md-8 input custom-input-box"><%= @location.jenis %></label><br>

                    <label class="col-md-3 label">Name</label>
                    <label class="col-md-8 input custom-input-box"><%= @location.name %></label>
                  </section>
                </div> <!-- row -->
                <header>Detail Sub M-Class</header>
                <div id='level2'>
                  <% @location.locations.each{|location| %>
                    <%= render partial: 'sub_type2', locals: {level: 2, key: Time.now.to_i, parent: '', location: location} %>
                  <% } %>
              </fieldset>
              <footer>
                <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
              </footer>
            <% end %>
          </div><!-- end widget content -->
        </div>
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div>
</div>
