<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Master Data</li><li>Regional</li><li><%= label %></li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-regional">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2><%= label %> Regional</h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
            <%= form_for @regional, html: {class: "smart-form", id: "form-update-verify", :autocomplete => "off"} do |f| %>
              <fieldset>
                <div class="row">
                  <section class="col col-md-6">
                    <section>
                      <label class="col-md-2 label">Code <span class='important'>*</span></label>
                      <label class="col-md-9 input custom-input-box"><%= f.text_field :code, :class => "input-sm #{(error_field @regional, :code)}", :placeholder => 'Autogenerate', :disabled => true %></label>
                    </section>
                    <section>
                      <label class="col-md-2 label">Name <span class='important'>*</span></label>
                      <label class="col-md-9 input custom-input-box"><%= f.text_field :name, :class => "input-sm #{(error_field @regional, :name)}" %></label>
                    </section>
                  </section> <!-- col-md-12 -->
                  <section class="col col-md-6">
                    <section>
                      <label class="col-md-2 label">Description</label>
                      <label class="col-md-9 input custom-input-box"><%= f.text_area :description, :class => "input-sm #{(error_field @regional, :description)}" %></label>
                    </section>
                  </section>
                </div> <!-- row -->
              </fieldset>
              <footer>
                <input class="btn btn-primary" type="submit" value="Submit"/>
                <button type="button" class="btn btn-default" onclick="window.history.back();">
                  Back
                </button>
              </footer>
            <% end %>
          </div><!-- end widget content -->
        </div><!-- end widget div -->
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div><!-- end widget div -->
</div><!-- end widget div -->

<script>
  $('form').submit(function() {
    $('input.btn-primary').prop("disabled", "disabled");
  })
</script>
