<% @regionals.each_with_index do |regional, i| %>
  <tr>
    <td class="hidden-phone"><%= params[:page] ? (params[:page].to_i*10+i-9) : i+1 %></td>
    <td><span class="name"><%= regional.code %></span></td>
    <td><%= link_to regional.name, regional_path(regional), class: 'blue' %></td>
    <td><%= regional.description %></td>
    <td class="hidden-phone">
      <%= link_to edit_regional_path(regional), class: "btn btn-primary btn-xs edit-btn-dlt" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to 'javascript:void(0)', onclick: "delete_one(#{regional.id}, 'regionals')", class: "btn btn-danger btn-xs edit-btn-dlt" do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan=5>
    <% if @regionals.present? %>
      <div class="dataTables_paginate paging_simple_numbers" id="dt_basic_paginate">
        <%= pagination_links(@regionals, options = {}) %>
      </div>
    <% else %>
      <%= raw '<center>No Data Available</center>' %>
    <% end %>
  </td>
</tr>
