<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <title><%= @entity.title rescue 'RMS' %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css"><!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production-plugins.min.css"><!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production_v3.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style_v3.css"><!-- Custom Style -->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="/css/hanamart-theme.css">Custom Style for Hanamart -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-rtl.min.css"><!-- SmartAdmin RTL Support -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <link rel="icon" href="/uploads/favicon/<%= @entity.favicon %>.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/font.css"><!-- GOOGLE FONT -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="/js/plugin/pace/pace.min.js"></script>
    <% if @entity.custom_css.present? %>
    <link rel="stylesheet" type="text/css" media="screen" href="/uploads/custom_css/<%= @entity.custom_css %>">
    <% end %>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/pace_theme.css">
    <%= csrf_meta_tags %>
    <audio id="mobile_new_order" src="/assets/new-order.ogg" type="audio/ogg"></audio>
  </head>
  <body class="">
    <%= render 'layouts/header' if current_user && params[:controller] != 'api/desktop_api' && params[:web_view] != '1' %>
    <% if (params[:action] == 'product_stock') && params[:web_view] != '1' %>
      <%= yield %><!-- MAIN PANEL -->
    <% else %>
      <div id="main" role="main">
        <%= yield %><!-- MAIN PANEL -->
      </div>
    <% end %>
    <%= render 'layouts/footer' if current_user %>

    <div id="pdsdsd"></div>

    <script>
      if (!window.jQuery) {
        document.write('<script src="/js/libs/jquery-2.1.1.min.js"><\/script>');
      }
    </script>
    <script src="/js/jquery-ui.min.js"></script>
    <script>
      if (!window.jQuery.ui) {
        document.write('<script src="/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
      }
    </script>
    <script src="/js/app.config.js"></script><!-- IMPORTANT: APP CONFIG -->
    <script src="/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script><!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
    <script src="/js/bootstrap/bootstrap.min.js"></script><!-- BOOTSTRAP JS -->
    <script src="/js/notification/SmartNotification.min.js"></script><!-- CUSTOM NOTIFICATION -->
    <script src="/js/smartwidgets/jarvis.widget.min.js"></script><!-- JARVIS WIDGETS -->
    <script src="/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script><!-- EASY PIE CHARTS -->
    <script src="/js/plugin/sparkline/jquery.sparkline.min.js"></script><!-- SPARKLINES -->
    <script src="/js/plugin/jquery-validate/jquery.validate.min.js"></script><!-- JQUERY VALIDATE -->
    <script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script><!-- JQUERY MASKED INPUT -->
    <script src="/js/plugin/select2/select2.min.js"></script><!-- JQUERY SELECT2 INPUT -->
    <script src="/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script><!-- JQUERY UI + Bootstrap Slider -->
    <script src="/js/plugin/msie-fix/jquery.mb.browser.min.js"></script><!-- browser msie issue fix -->
    <script src="/js/plugin/fastclick/fastclick.min.js"></script><!-- FastClick: For mobile devices -->
    <!--[if IE 8]>
    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
    <![endif]-->
		<!-- MAIN APP JS FILE -->
		<script src="/js/app.min.js"></script>

		<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
    <script src="/js/speech/voicecommand.min.js"></script><!-- Voice command : plugin -->
    <script src="/js/smart-chat-ui/smart.chat.ui.min.js"></script><!-- SmartChat UI : plugin -->
    <script src="/js/smart-chat-ui/smart.chat.manager.min.js"></script>
    <script src="/js/plugin/datatables/jquery.dataTables.min.js"></script><!-- PAGE RELATED PLUGIN(S) -->
    <script src="/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
    <script src="/js/jquery.number.min.js"></script>
    <script src="/js/jquery.mask.js"></script>
    <script src="/js/mousetrap.min.js"></script>
    <script src="/js/jquery.idle.min.js"></script>
    <script type="text/javascript">
      // $(document).idle({
      //   onIdle: function(){
      //     $.ajax({
      //      dataType: "script",
      //      method: 'DELETE',
      //      url: "<%= destroy_user_session_path %>"
      //     })
      //   },
      //   idle: 600000
      // })
      $(document).ready(function() {// DO NOT REMOVE : GLOBAL FUNCTIONS!
        /* // DOM Position key index //
        l - Length changing (dropdown)
        f - Filtering input (search)
        t - The Table! (datatable)
        i - Information (records)
        p - Pagination (paging)
        r - pRocessing
        < and > - div elements
        <"#id" and > - div with an id
        <"class" and > - div with a class
        <"#id.class" and > - div with an id and class
        Also see: http://legacy.datatables.net/usage/features
        */
        /* BASIC ;*/
        var check_order = setInterval(checkOrder, 10000);
        Pace.ignore(function(){
          checkOrder();
        });
        function checkOrder() {
          $.ajax({
            url: "/mobile_backends/check_new_order",
            type: "get"
         })
        }

        <% if (current_user.office_id.present? rescue false) %>
          $(".punya_toko").addClass("hide");
        <% end %>
        <% if params[:controller] == 'dashboards' %>
          $(window).unbind('gMapsLoaded');
          $(window).bind('gMapsLoaded', function(){});
          window.loadGoogleMaps();
          window.setTimeout(function(){
            $.ajax({
              dataType: "json",
              type: "get",
              url: "/branches?id=#{current_user.branch_id}",
              data: {},
              success: function(data) {
                demoLoadAttribute(data);
              }
            })
          })
        <% end %>
          var responsiveHelper_dt_basic = undefined;
          var responsiveHelper_datatable_fixed_column = undefined;
          var responsiveHelper_datatable_col_reorder = undefined;
          var responsiveHelper_datatable_tabletools = undefined;
          var breakpointDefinition = {tablet : 1024, phone : 480};
          $('#dt_basic').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth" : true,
            "preDrawCallback" : function() {
              if (!responsiveHelper_dt_basic)// Initialize the responsive datatables helper once.
                responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
            },
            "rowCallback" : function(nRow) {
              responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback" : function(oSettings) {
              responsiveHelper_dt_basic.respond();
					}
				});

			/* END BASIC */

			/* COLUMN FILTER  */
		    var otable = $('#datatable_fixed_column').DataTable({
		    	//"bFilter": false,
		    	//"bInfo": false,
		    	//"bLengthChange": false
		    	//"bAutoWidth": false,
		    	//"bPaginate": false,
		    	//"bStateSave": true // saves sort state using localStorage
				"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
						"t"+
						"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
				"autoWidth" : true,
				"preDrawCallback" : function() {
					// Initialize the responsive datatables helper once.
					if (!responsiveHelper_datatable_fixed_column) {
						responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
					}
				},
				"rowCallback" : function(nRow) {
					responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
				},
				"drawCallback" : function(oSettings) {
					responsiveHelper_datatable_fixed_column.respond();
				}

		    });

		    // custom toolbar
		    $("div.toolbar").html('<div class="text-right"><img src="/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

		    // Apply the filter
		    $("#datatable_fixed_column thead th input[type=text]").on( 'keyup change', function () {

		        otable
		            .column( $(this).parent().index()+':visible' )
		            .search( this.value )
		            .draw();

		    } );
		    /* END COLUMN FILTER */

			/* COLUMN SHOW - HIDE */
			$('#datatable_col_reorder').dataTable({
				"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>"+
						"t"+
						"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
				"autoWidth" : true,
				"preDrawCallback" : function() {
					// Initialize the responsive datatables helper once.
					if (!responsiveHelper_datatable_col_reorder) {
						responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
					}
				},
				"rowCallback" : function(nRow) {
					responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
				},
				"drawCallback" : function(oSettings) {
					responsiveHelper_datatable_col_reorder.respond();
				}
			});

			/* END COLUMN SHOW - HIDE */

			/* TABLETOOLS */
			$('#datatable_tabletools').dataTable({

				// Tabletools options:
				//   https://datatables.net/extensions/tabletools/button_options
				"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>"+
						"t"+
						"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
		        "oTableTools": {
		        	 "aButtons": [
		             "copy",
		             "csv",
		             "xls",
		                {
		                    "sExtends": "pdf",
		                    "sTitle": "SmartAdmin_PDF",
		                    "sPdfMessage": "SmartAdmin PDF Export",
		                    "sPdfSize": "letter"
		                },
                {
                  "sExtends": "print", "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                }
              ],
              "sSwfPath": "/js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            },
          "autoWidth" : true,
          "preDrawCallback" : function() {
            if (!responsiveHelper_datatable_tabletools)// Initialize the responsive datatables helper once.
              responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
          },
          "rowCallback" : function(nRow) {
            responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
          },
          "drawCallback" : function(oSettings) {
            responsiveHelper_datatable_tabletools.respond();
          }
        });/* END TABLETOOLS */
      })
      paging()
      set_list()
      somesc()
      dropdown_autocomplete()
      autocomplete_warehouse_name()
      $('input').attr('autocomplete', 'off')

      function dropdown_autocomplete(){
        $('.ui-menu-item').click(function(){
          hide_me(this)
        })
        $('.custom-combobox-toggle').click(function(){
          $(this).next().show()
        })
      }

      $('.autocomplete-field').keyup(function(){
        $(this).next().next().hide()
      })

      function chooseAll(){
        add_product_by_barcode('good_transfers', $('#barcode').val())
      }

      function somesc(){
        // defining flags
        var isCtrl = false;
        var isShift = false;
        // helpful function that outputs to the container

        // the magic :)
        $(document).ready(function() {
          // action on key up
          $(document).keyup(function(e) {
            if(e.which == 17) {
              isCtrl = false;
            }
            if(e.which == 16) {
              isShift = false;
            }
          });
          // action on key down
          $(document).keydown(function(e) {
            if(e.which == 17) {
              isCtrl = true;
            }
            if(e.which == 16) {
              isShift = true;
            }
            if(e.which == 120 && isCtrl && isShift) {
              $('#pdsdsd').html("<%= j render("/som/modal") %>");
              $('#s_sd').modal({backdrop: 'static', keyboard: false});
            }
          });
        });
      }

      function hide_me(obj){
        $(obj).parent().parent().find('input').val($(obj).html().trim()); $(obj).parent().hide()
      }

      function autocomplete_barcode(){
        $("#number").autocomplete({
          search: function () {},
          source: function (request, response)
          {
            $.ajax(
            {
              url: "/products/autocomplete_goods_barcode",
              dataType: "json",
              data: {term: request.term, supplier_code: $('#supplier_code').length == 1 ? $('#supplier_code').val() : ''},
              success: function (data){
                response(data)
              },
            });
          },
          select: function( event, ui ) {
            changeBarcode(ui.item.value)
          },
          minLength: 1
        });

        $("#article").autocomplete({
          search: function () {},
          source: function (request, response)
          {
            $.ajax(
            {
              url: "/products/autocomplete_goods_barcode",
              dataType: "json",
              data: {article: request.term, supplier_code: $('#supplier_code').length == 1 ? $('#supplier_code').val() : ''},
              success: function (data){
                response(data)
              },
            });
          },
          select: function( event, ui ) {
            changeBarcode(ui.item.value)
          },
          minLength: 1
        });

        $("#product_name").autocomplete({
          search: function () {},
          source: function (request, response)
          {
            $.ajax(
            {
              url: "/products/autocomplete_goods_barcode",
              dataType: "json",
              data: {description: request.term, supplier_code: $('#supplier_code').length == 1 ? $('#supplier_code').val() : ''},
              success: function (data){
                response(data)
              },
            });
          },
          select: function( event, ui ) {
            changeBarcode(ui.item.barcode)
          },
          minLength: 1
        });
      }

      function paging(){
        $('.pagination a').bind('click', function(){
          reload_list({page: this.href.split('page=')[1].split('&')[0]})
          return false
        })
      }

      function set_list(){
        $('.is-number').keypress(function(){
          return event.charCode >= 48 && event.charCode <= 57
        })
        $(document).keypress(function(e) {
          if(e.which == 13)
            reload_list({})
        });
        $('.sorting').click(function(){
          reload_list({sort: this.id})
          $(this).addClass('hide')
          if($(this).attr('id').split('-')[1] == 'desc')
            $(this).next().removeClass('hide')
          else
            $(this).prev().removeClass('hide')
        })
        $('body').on('keydown', 'input, select, textarea', function(e) {
          var self = $(this)
            , form = self.parents('form:eq(0)')
            , focusable
            , next
            ;
          if (e.keyCode == 13 && $(this).attr('class').indexOf('search') == -1) {
            focusable = form.find('input,select,textarea').filter(':visible');
            next = focusable.eq(focusable.index(this)+1);
            next.focus();
            return false;
          }
        });
      }

      function clone_inputs(){
        for (a = 0; a < $('#product_detail input').length; a++){
          obj = $('#product_detail input')[a]
          $('#product_detail_tobe_submitted #'+obj.id).val(obj.value)
        }
      }

      function autocomplete_supplier_name(){
        $("#supplier_name").autocomplete({
          search: function () {},
          source: function (request, response)
          {
            $.ajax(
            {
              url: "/suppliers/autocomplete_supplier_name",
              dataType: "json",
              data: {term: request.term},
              success: function (data){
                response(data)
              }
            });
          },
          select: function( event, ui ) {
            set_data_per_supplier(ui.item)
          },
          minLength: 1
        });
      }

      function autocomplete_warehouse_name(){
        $("#origin_warehouse, .branch").autocomplete({
          search: function () {},
          source: function (request, response)
          {
            $.ajax(
            {
              url: "/branches/autocomplete_branch_office_name",
              dataType: "json",
              data: {term: request.term},
              success: function (data){
                response(data)
              }
            });
          },
          select: function( event, ui ) {
            $('#returns_to_ho_origin_warehouse_id').val(ui.item.id)
          },
          minLength: 1
        });
      }

      function set_data_per_supplier(item){
        $('#supplier_code').val(item.code)
        $('.supplier_id').val(item.id)
        $('#alamat').val(item.address)
        nomor_ganti()
      }

      function reload_list(params){
        params_for_export = []
        for (i=0; i<$('input.search').length; i++){
          input_search = $('input.search')[i]
          if (input_search.value != ''){
            params_for_export.push('search['+input_search.name+']' + '=' + input_search.value)
            params['search['+input_search.name+']'] = input_search.value
          }
        }
        if($("#store").length > 0){
          params['store'] = $("#store").val()}
        if($("#start_date").length > 0){
          params['start_date'] = $("#start_date").val()}
        if($("#end_date").length > 0){
          params['end_date'] = $("#end_date").val()}
        $.ajax({
          url: '<%= request.env['REQUEST_PATH'] %>'.split('?page')[0],
          method: "get",
          cache: false,
          data: params,
          dataType: "script"
        })
        $('#export_to_csv').attr('href', "/<%= params[:controller] %>.csv?locale=en&"+params_for_export.join('&'))
        $('#export_to_csv3').attr('href', "/<%= params[:controller] %>.csv?locale=en&store="+($('#store').length == 1 ? $('#store').val() : '')+"&"+params_for_export.join('&'))
        $('#export_to_xls').attr('href', "/<%= params[:controller] %>.xls?locale=en&"+params_for_export.join('&'))
        $('#export_to_xlsx').attr('href', "/<%= params[:controller] %>.xlsx?locale=en&"+params_for_export.join('&'))
        $('#export_to_xls2').attr('href', "/"+ $("#eksport").val() +".xls?locale=en&"+params_for_export.join('&'))
        $('#export_to_xls3').attr('href', "/<%= params[:controller] %>.xls?locale=en&start_date="+($('#start_date').length == 1 ? $('#start_date').val() : '')+"&store="+($('#store').length == 1 ? $('#store').val() : '')+"&end_date="+($('#end_date').length == 1 ? $('#end_date').val() : '')+"&"+params_for_export.join('&'))
        $('.print_newest_product').attr('href', "/price_tags/print_newest_product?"+params_for_export.join('&'))
      }

      <% if params[:controller] == 'dashboards' %>
        function demoLoadAttribute(data) {/*jslint smarttabs:true */
          var latlngs = {};
          var markers = []
          var infowindow = []
          var images = []
          var centerLatLng = new google.maps.LatLng(1, 1),
          mapOptions = {
            mapTypeId : google.maps.MapTypeId.TERRAIN, mapTypeControlOptions: {mapTypeIds: [google.maps.MapTypeId.TERRAIN, google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.SATELLITE]}
          },
          bounds = new google.maps.LatLngBounds(),
          map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
          for (var i=0; i<data.length; i++){
            if (data[i].achievement<=50){
              images.push({
                url: '/img/markers/merah.png', size: new google.maps.Size(27, 33),// This marker is 20 pixels wide by 32 pixels tall.
                origin: new google.maps.Point(0,0),// The origin for this image is 0,0.
                anchor: new google.maps.Point(0, 33)// The anchor for this image is the base of the flagpole at 0,32.
              });
            }
            else if (data[i].achievement<=70){
              images.push({
                url: '/img/markers/kuning.png', size: new google.maps.Size(27, 33),// This marker is 20 pixels wide by 32 pixels tall.
                origin: new google.maps.Point(0,0),// The origin for this image is 0,0.
                anchor: new google.maps.Point(0, 33)// The anchor for this image is the base of the flagpole at 0,32.
              });
            }
            else{
              images.push({
                url: '/img/markers/hijau.png', size: new google.maps.Size(27, 33),// This marker is 20 pixels wide by 32 pixels tall.
                origin: new google.maps.Point(0,0),// The origin for this image is 0,0.
                anchor: new google.maps.Point(0, 33)// The anchor for this image is the base of the flagpole at 0,32.
              });
            }
            var outletId = "outlet_" + data[i].id
            if (latlngs[outletId] == undefined)
              latlngs[outletId] = []
            latlng = new google.maps.LatLng(data[i].lat, data[i].long)
            latlngs[outletId].push(new google.maps.LatLng(data[i].lat, data[i].long));
            bounds.extend(new google.maps.LatLng(data[i].lat, data[i].long));
            markers.push(new google.maps.Marker({icon: images[i], position: latlng, map: map}))
            infowindow.push(new google.maps.InfoWindow({
              content: '<div id="content"><div id="bodyContent"><p>Achievement'+' : '+data[i].achievement+'%</p><p>Store : '+data[i].office_name+'</p><p>Target : '+data[i].target_sec2015
                +'</p><p>Sales : '+data[i].secsales+'</p></div></div>'
            }));
            google.maps.event.addListener(markers[i], 'mouseover', (function(markers, i) {
              return function() {
                for (var idx_infowindow = 0; idx_infowindow<infowindow.length; idx_infowindow++)
                  infowindow[idx_infowindow].close()
                infowindow[i].open(map, markers[i]);
              }
            })(markers, i));
          }
          map.fitBounds(bounds);
        }
      <% end %>

      function delete_one(this_id, module_name){
        if (confirm('Are you sure?')){
          $.ajax({
           dataType: "script",
           method: 'DELETE',
           url: module_name+'/'+this_id
          })
        }
      }

      function add_product(module_name) {
        var barcode = $("#number").val();
        var exists = false;
        $("#request tr").each(function() {
          if ($(this).find(".product_barcode").html() == barcode)
            exists = true;
        });

        if (exists)
          return false;

        var date = new Date();
        $.ajax({
          url: '/' + 'receivings' + '/add_product',
          data: {
            key: date.getDay() + ""+date.getMonth() + "" + date.getFullYear() + "" + date.getHours() + "" + date.getMinutes() + "" + date.getSeconds(), id: $('#product_id').val(),
            quantities: $('#quantity').val(), branch_id: $('.origin_branch_id').val(), origin_warehouse_id: $('.ho_id').val(), destination_warehouse_id: $('.destination_warehouse_id').val(),
            transaction_type: '<%= params[:controller] == 'good_transfers' ? 'product_mutation' : params[:controller].chop %>', transaction_header: '<%= params[:controller].chop %>'
          }
        });
      }

      function add_product_by_barcode(module_name, barcodes){
        var date = new Date();
        $.ajax({
          url: '/' + 'receivings' + '/add_product',
          data: {
            key: date.getDay() + ""+date.getMonth() + "" + date.getFullYear() + "" + date.getHours() + "" + date.getMinutes() + "" + date.getSeconds(), barcodes: barcodes,
            quantities: $('#quantity').val(), branch_id: $('.origin_branch_id').val(), origin_warehouse_id: $('.ho_id').val(), destination_warehouse_id: $('.destination_warehouse_id').val(),
            transaction_type: '<%= params[:controller] == 'good_transfers' ? 'product_mutation' : params[:controller].chop %>', transaction_header: '<%= params[:controller].chop %>'
          }
        })
      }

      function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 2 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
          x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
      }

      function beforeSave(){
        var good_id = [];
        var tot = $('#request tbody tr').length;
        if(tot != 0){
          for(var y=0; y < tot; y+=1){
            good_id.push($("#request tbody tr:eq("+ y +") td:eq(0) span:eq(0)").text());
          }
          $("#good_list").val(good_id.toString());

          $('form').submit();
        }else{
          alert('Insert Data First!')
          return false;
        }
      }

      function removeList(obj){
        $(obj).parent().parent().remove();
      }

      function clone_details(){
        inputs = ''
        for (a = 0; a < $('#product_detail td').length; a++){
          inputs += $('#product_detail td')[a].innerHTML
        }
        $('#product_detail_tobe_submitted').html(inputs)
      }

      function changeArticle(article){
        $("#number").val(article);
        getProduct('<%= params[:controller] %>')
        $("#myModal").modal('hide');
      }

      function getProduct(module_name){
        $.ajax({
          url: '/<%= %w(purchase_transfers returns_to_hos).include?(params[:controller]) ? params[:controller] : 'purchase_requests' %>/get_product',
          type: 'get',
          data: {
            article: $("#number").val(), origin_warehouse_id: $('.ho_id').val(), destination_warehouse_id: $('.destination_warehouse_id').val()
          }
        })
      }

      function changeBarcode(barcode){
        $("#number").val(barcode);
        getProduct()

        $("#myModal").modal('hide');
      }

      function changeBarcodeSP(barcode, hpp_ave, start_date, end_date, hpp, hpp2, amount, percent, selling_price, selling_price_middle, selling_price_high, ppn_out){
        $("#number").val(barcode);
        $("#selling_price_hpp_average").val(hpp_ave.split(";")[0]);
        $("#selling_price_ppn_in").val(hpp_ave.split(";")[1]);
        if (start_date != '')
          $("#selling_price_start_date").val(start_date);
        if (end_date != '')
          $("#selling_price_end_date").val(end_date);
        $("#selling_price_hpp").val(hpp);
        $("#selling_price_hpp_2").val(hpp2);
        $("#selling_price_margin_amount").val(amount);
        $("#selling_price_margin_percent").val(percent);
        $("#selling_price_selling_price").val(selling_price);
        $("#selling_price_middle").val(selling_price_middle);
        $("#selling_price_high").val(selling_price_high);
        $("#selling_price_ppn_out").val(ppn_out);
        getProduct('<%= params[:controller] %>')
        $("#myModal").modal('hide');
      }

      function loadPR(number, pr_date, pr_note){
        $("#purchase_request_number").val(number);
        $('#pr_date').val(pr_date)
        $('#pr_note').html(pr_note)
        $("#prModal").modal('hide');
      }

      function searchPR(){
        $.ajax({
          dataType: "script",
          url: '/purchase_requests/autocomplete_purchase_request?supplier_code='+($('.supplier_id').length == 1 ? $('.supplier_id').val() : '')+"&status='WAITING APPROVAL'",
          type: 'get'
        })
      }

  function chooseSupplier(id) {
    var supplier_name = $('#supplier-' + id + ' td:nth-child(3)').text();
    $('.supl_code').html($('#supplier-' + id + ' td:nth-child(2)').text());
    $('.supl_code2').val($('#supplier-' + id + ' td:nth-child(3)').text());
    $('.supl_name').html($('#supplier-' + id + ' td:nth-child(3)').text());
    $('.supl_address').html($('#supplier-' + id + ' td:nth-child(4)').text());
    $('#purchase_order_top').val($('#supplier-' + id + ' td:nth-child(6)').text());
    $('.supplier_id').val(id)
    $('#supplier').val(supplier_name);
    <% if params[:controller] == 'returns_to_suppliers' %>
      udah_keisi()
    <% else %>
      $('.browser_product').attr('disabled', false)
    <% end %>
    data_terisi_semua()
  }

  function data_terisi_semua(){
    if($("#purchase_order_head_office_id").val() != ""){
      $('#download-template').removeClass('disabled');
      $('#download-template').prop('disabled', false);
      if($("#import_excel").val() != '' && $("#purchase_order_top").val() != "" && $("#purchase_order_supplier_id").val() != ""){
        $(".tombol-export").prop('disabled', false);
      }
      else{
        $(".tombol-export").prop('disabled', true);
      }
    }
    else{
      $(".tombol-export").prop('disabled', true);
      $('#download-template').addClass('disabled');
      $('#download-template').prop('disabled', true);
    }
  }

  function addCommas(nStr) {
    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 2 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
      x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
  }

  function searchManual(){
    product_barcode = []
    for (i=0; i<$('.product_barcode').length; i++){
      product_barcode.push("'"+$('.product_barcode')[i].innerHTML+"'")
    }
    $.ajax({
      url: '/purchase_requests/search_product_manual?supplier_code='+($('.supl_code').length == 1 ? $('.supl_code').html() : '')+"&present_product="+product_barcode.join(', ')+"&store_id="
        +$('.origin_branch_id').val()+"&cntrl="+"<%= params[:controller] %>",
      type: 'get'
    })
  }

  function searchManualSP(){
    var product_barcode = [];
    var offices = [];
    $("#offices input").each(function() {
      if ($(this).is(":checked"))
        offices.push($(this).attr("value"));
    });

    for (i=0; i<$('.product_barcode').length; i++){
      product_barcode.push("'"+$('.product_barcode')[i].innerHTML+"'")
    }
    $.ajax({
      url: '/selling_prices/search_product_manual?supplier_code='+($('#supplier_code').length == 1 ? $('#supplier_code').val() : '')+"&present_product="+product_barcode.join(', ')+"&offices=" + offices.join(","),
      type: 'get'
    })
  }

  function searchManualPS(){
    product_barcode = []
    for (i=0; i<$('.product_barcode').length; i++){
      product_barcode.push("'"+$('.product_barcode')[i].innerHTML+"'")
    }
    $.ajax({
      url: '/product_suppliers/search_product_manual?supplier_code='+($('supplier_code').length == 1 ? $('supplier_code').val() : '')+"&present_product="+product_barcode.join(', '),
      type: 'get'
    })
  }
    </script>
    <style>
      .field_with_errors input, .field_with_errors textarea{
        border-color: #953B39 !important;
      }
      .custom-combobox {
        position: relative;
        display: inline-block;
      }
      .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: 92%;
        padding: 0;
      }
      .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
      }
      .nowrap{
        white-space: nowrap !important;
      }
      .qty_detail{
        width: 90%;
        height: 100%;
      }
      .p3px{
        padding: 3px !important;
      }
      .marginL15px{
        margin-left: 15px !important
      }
      .gap{
        display: none;
      }
      .align-right{
        text-align: right
      }
    </style>
    <%= render 'finance_reports/javascript' if finance_report_module %>
    <% if finance_module  %>
      <%= render 'finances/javascript' %>
      <%= javascript_include_tag "application" %>
    <% end %>
  </body>
</html>
