
<table class="table table-condensed table-striped table-bordered table-hover no-margin">
  <thead>
    <tr>
      <th style="width:2%">No</th>
      <th style="width:17%">Price / Minimun Purchase</th>
      <th style="width:9%" class="hidden-phone">Point</th>
      <th style="width:8%">Expired Date</th>
      <th style="width:8%">Description</th>
      <th style="width:5%" class="hidden-phone">Action</th>
    </tr>
  </thead>
  <tbody>
  <% if @points.present? %>
    <% @points.each_with_index do |point_member, i| %>
    <tr>
      <td><span class="name"><%= params[:page] ? (params[:page].to_i*100+i-99) : i+1 %></span></td>
      <td class="hidden-phone"><%= point_member.price %></td>
      <td class="hidden-phone"><%= point_member.point %></td>
      <td class="hidden-phone"><%= point_member.expired_date %></td>
      <td class="hidden-phone"><%= point_member.description %></td>
      <td class="hidden-phone"><div class="btn-group ">
          <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">Action&nbsp;<span class="caret"></span></button>
          <ul class="dropdown-menu pull-right">
            <li><%#= link_to 'Ubah', edit_member_path(member) %></li>
            <li><%#= (link_to 'Perbaharui', expire_members_path(member), method: :put) if member.expired? %></li>
            <li><%#= link_to delete_label, member, method: :delete, remote: true, confirm: 'Remove member?' %></li>
          </ul>
        </div>
      </td>
    </tr>
    <% end %>
    <% else %>
      <tr><td colspan='10' class='centered-text'>No Data</td></tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @points %>
<script>
  $('.pagination a').bind('click', function(){
    $.ajax({
      url: '<%= members_path %>'.split('?page')[0]+'?page='+this.href.split('page=')[1],
      method: "get",
      dataType: "script"
    })
    return false
  })
</script>